# **Assignment - 6**

**202011050(Krishna Savaliya)**

In [ ]:
#imported all required libraries here
import os
import re
import math
import glob
import numpy as np
from numpy.linalg import norm
from bs4 import BeautifulSoup
import nltk
from nltk.corpus import stopwords,wordnet
from nltk.stem import PorterStemmer,WordNetLemmatizer
import pandas as pd
from IPython.display import display
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy.sparse import csr_matrix
from sklearn.metrics.pairwise import cosine_similarity
import pickle
import collections
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

# Preprocessing

In [ ]:
class Preprocessing:
  
  #To Load the Data Available for applying preprocessing on it
  def load_data(self):
    ##As the data has been extracted ,we can no easily load the data in to the RAM.
    global doc
    global total_doc
    total_doc = 0
    doc = list()                                     #contains real document id list
    
    data=list()                                      #contains list of list of data for each file .each list within list has one corresponding file data
    files = list()                                   #contains list of all file names in the root directory and its subdirectoris  
    location = "/content/drive/MyDrive/FIRE_Dataset_EN_2010"        #root directory
    # r-root, d-directories, f-files
    for r, d, f in os.walk(location):
      for item in f:
        if '.utf8' in item:                         #getting only ".utf8" files ..ignoring query files as we will not fit the query files
          files.append(os.path.join(r, item))
    
     
    for name in files:                               #traversing all the ".utf8" files and will be extracting the data from it in the ram 
      #check if name contains index type files or not
      if total_doc % 5000 == 0:
        print("record loaded = ",total_doc)
      check = re.findall("index",str(name))
      if len(check) != 0:  #contains index then continue and ignore this file
         continue
      #i have directly loaded all the files in to the colab so ignore some files while listing the files
      if name == '.config' or name == 'sample_data':
        continue
      else:
        f = open(name,'r')
        soup = BeautifulSoup(f,"html.parser")
        required_data = soup.find("text")
        temp = required_data.text
        #check if document contains any words or not
        check = re.findall("[A-Za-z0-9]",temp)
        if len(check) == 0:
          continue
        data.append(temp)       
        doc_id = soup.find("docno")
        doc.append(doc_id)
        total_doc += 1
        
    return data
    
    #function for removing numerical and punctuation from data
    #input - data from which numerical and punctuation has to be removed
    #output -  processed data
 
  def preprocess(self,data):
      #retrieving each doc data and then removing numerical and punctuation from each document
      stop_words = stopwords.words('english')
      lemmatizer = WordNetLemmatizer()
      preprocessed_data=list()
      for doc_text in data:
        
        #removing numerical and punctuation
        
        doc_text = re.sub(r'[^\w\s]', '',doc_text)
        doc_text = re.sub('\d','',doc_text)
        

        #tokenizing
        data_tokenized = nltk.word_tokenize(doc_text)
       
        
        #converting to smallcase
        data_smallcase = [word.lower() for word in data_tokenized] 
        
        
        #removing stopwords
        data_without_stopwords = list()       
        for word in data_smallcase:
          if word not in stop_words:
            data_without_stopwords.append(word)
        
        ## Lemmatization
        #print(data_without_stopwords) 
        prev_data = list() 
        for word in data_without_stopwords:
          prev_data.append(lemmatizer.lemmatize(word,pos='v'))
        preprocessed_data.append(prev_data)
                 
        
      return preprocessed_data
  
  def extractUnique(self,data):
    #return unique feature from the entire corpus
    return collections.Counter([x for sublist in data for x in sublist])

#Custom TFIDF Class

In [ ]:
class TFIDF:
    
  def __init__(self):
    
    self.idf_matrix = csr_matrix(self.find_idf_matrix1())
    
  #input -  documents list
  #output - return term document matrix
  def fit(self,documents):
    global feature_list
    #indices for generating sparse matrix  ##
    global document_feature_list
    row = list()
    column = list() 
    value = list() 
      
    reverse_feature_list = dict()
    for i,word in enumerate(feature_list):
      reverse_feature_list[word] = i 
    
    for i,document in zip(range(total_doc),documents):
      total_words_in_doc = len(document)
      if i%10000 == 0 :
        print("document processed=",i)
      
      for word in document_feature_list[i]:
        count = document_feature_list[i][word]
        j = reverse_feature_list[word]
        row.append(i)
        column.append(j)
        value.append(float(count)/total_words_in_doc)       #term frequency
      
    print("creating sparse matrix")
    tf_sparse = csr_matrix((value, (row, column)), shape=(total_doc, len(feature_list)))
    print("processed now returning")
    return csr_matrix.multiply(tf_sparse,self.idf_matrix)       #tf*idf 


  def transform(self,query):
    #transformes the query to tf-idf representation
    global feature_list 
    
    ##indices for generating sparse matrix  ##

    row = list()
    column = list() 
    value = list() 
      
     
    
    total_words_in_doc = len(query)
    
    for i,word in zip(range(len(feature_list)),feature_list):
        count = query.count(word)
        element_value = float(count)/total_words_in_doc
        row.append(0)
        column.append(i)
        value.append(element_value) 
    tf_sparse = csr_matrix((value, (row, column)), shape=(1, len(feature_list)))
    return csr_matrix.multiply(tf_sparse,self.idf_matrix)

  def return_feature_generator(self):
    global feature_list 
    for ele in feature_list: 
      yield (ele)
      
  def find_idf_matrix1(self):
    #return list which stores the idf value of each unique term
    global feature_list
    global feature_collection 
    global total_doc
    global data_preprocessed 
    print("Buiding IDF Matrix\n")
    
    
    temp_matrix = np.zeros((1,len(feature_list)))
    feature_list_generator = self.return_feature_generator()

    for i,ele in zip(range(len(feature_list)),feature_list_generator):
      temp_matrix[0,i] = feature_collection[ele]
      
    print("\n Creating sparse IDF Matrix")  
    print("processed now returning")
    return np.log10(np.multiply(total_doc,np.reciprocal(temp_matrix)))

#Feature Extraction

In [ ]:
##generating object for preprocesssing object as previous generator has already been used 


#obj = Preprocessing()
#data = obj.load_data()
#data_preprocessed = obj.preprocess(data_preprocessed)

infile = open('/content/drive/MyDrive/dump/corpus_text_tokens','rb')
data_preprocessed = pickle.load(infile)
infile.close()

total_doc = len(data_preprocessed)
 
print("Number of documents=",total_doc)

#print(data_preprocessed)

print("fetching all the unique words in the corpus using above generator objects..\n")
obj = Preprocessing()
feature_collection = obj.extractUnique(data_preprocessed)
feature_list= list(feature_collection)
document_feature_list = list()
for document in data_preprocessed:
  c = collections.Counter([word for word in document])
  document_feature_list.append(c)

print("preprocessing completed for extracting feature_list..\n")

print("No of features in the corpus=",len(feature_list))


obj_tfidf = TFIDF()

Number of documents= 125516
fetching all the unique words in the corpus using above generator objects..

preprocessing completed for extracting feature_list..

No of features in the corpus= 306069
Buiding IDF MATRIX......


 Creating sparse IDF MATRIX
processed now returning

#TFTDF Matrix

In [ ]:
#passing preprocessed generator
term_doc_matrix = obj_tfidf.fit(data_preprocessed)

print(term_doc_matrix.shape)
#generated object for term_doc_matrix generator

#cannot print shape because the class is generator
 
del feature_collection 
del document_feature_list
print("object for term_doc_matrix_generated generator is generated !!!")

document processed= 0
document processed= 10000
document processed= 20000
document processed= 30000
document processed= 40000
document processed= 50000
document processed= 60000
document processed= 70000
document processed= 80000
document processed= 90000
document processed= 100000
document processed= 110000
document processed= 120000
creating sparse matrix....
processed now returning.....
(125516, 306069)
object for term_doc_matrix_generated generator is generated !!!

#Transforming Query

In [ ]:
from bs4 import BeautifulSoup
#fetching the queries from /content/drive/MyDrive/FIRE_Dataset_EN_2010/en.topics.76-125.2010.txt

QUERIES = list()                               #will contain all the preprocessed queries 
query_ids = list()                             #will contain all the query ids
f = open("/content/drive/MyDrive/FIRE_Dataset_EN_2010/en.topics.76-125.2010.txt")
soup = BeautifulSoup(f,"html.parser")
queries = soup.find_all("top")

for query_data in queries:
  query_ids.append(query_data.num.text)
  QUERIES.append(query_data.text)                            #fetching query and inserting to query list


#preprocessing the query

#Preprocessing to get QUERY GENERATOR
QUERY_GENERATOR = obj.preprocess(QUERIES)

#Preprocessing of Query Complete

#Transforming Queries
transformed_query = list() 
for query in QUERY_GENERATOR:
  transformed_query.append(obj_tfidf.transform(query))

print("Queries Transform with sparse representation completed......")
 
#Transformation Complete

Queries Transform with sparse representation completed......

# **Utility Function**

# MAP Calculation

In [ ]:
#VECTOR_MATRIX is the document converted to vectors using arbitrary represntation 
# tfidf / word2vec etc
def calculate_map(modified_transformed_query,VECTOR_MATRIX):       
  
  def find_similarity(transformed_query,VECTOR_MATRIX):
  
    
    query_cosine_similarity = list()  
    for query in transformed_query:
      #iterating among all document in the term-document matrix
      query_cosine_similarities = cosine_similarity(query, VECTOR_MATRIX)
      query_cosine_similarity.append(list(query_cosine_similarities[0,:]))
    return query_cosine_similarity

  query_cosine_similarity = find_similarity(modified_transformed_query,VECTOR_MATRIX)


  ##above is query similarity generator


  #print(len(query_cosine_similarities))
  ##fetching top 10 document for each query

  import pickle 
  f = open("/content/drive/MyDrive/dump/file_names","rb")
  file_names = pickle.load(f)
  
  column = ["RANK","DOCUMENT NAME","cosine similarity score"]                      # columns for our panda data frame
  ranked_queries_doc = list()
  rank_len = 10
  k=0                    
  for query_similarities in query_cosine_similarity: 
    ranked_doc = list()
    for id,score in enumerate(query_similarities):
      ranked_doc.append([id,score])

  
    ##greater the cosine similarity higher the rank of document
    ranked_doc = sorted(ranked_doc,key = lambda ele:ele[1] ,reverse=True)[:rank_len]
    ranked_doc = [[i+1,file_names[ele[0]],ele[1]] for i,ele in  zip(range(len(ranked_doc)),ranked_doc)]
    ranked_queries_doc.append(ranked_doc)
    data_frame = pd.DataFrame(data = ranked_doc,columns = column)
    print("\n")
    print("query ID= ",query_ids[k])
    print("\n")
    k = k + 1
    display(data_frame.head(10))


  #ranked_queries_doc contains list of list where each list is of type [docname,cosine_similarity score]


  query_doc_relevant = dict()

  #fetching the document v/s relevance from  /content/drive/MyDrive/FIRE_Dataset_EN_2010/en.qrels.76-125.2010.txt  for each query

  f = open("/content/drive/MyDrive/FIRE_Dataset_EN_2010/en.qrels.76-125.2010.txt","r")
  lines = f.readlines()
  for line in lines:
    line_split = line.split(" ")
    line_split[3] =  line_split[3].strip()
    query_no = line_split[0]
    doc_name = line_split[2]
    rel_score = line_split[3]
  
  
    if query_no == " ":
      continue 
    else:
      result = query_doc_relevant.get(query_no,0)
      if result == 0:
        query_doc_relevant[query_no] = [[doc_name,rel_score]]
      else:
        query_doc_relevant[query_no].append([doc_name,rel_score]) 


  queries_precision = list()


  for no,query in zip(range(len(ranked_queries_doc)),ranked_queries_doc):
    #query contains [[index,docname,cosine_similarity],[..],...]
    list_fetched_doc = [ ele[1] for ele in query] 
    #print(query_doc_relevant[query_ids[no]][0][0]," ",query_doc_relevant[query_ids[no]][0][1])
    
    ##counting no of correctly retrieved document by filtering all the document which is fetched correctly by system  
    ground_query = query_doc_relevant[query_ids[no]]
    count = 0 
    for ground in ground_query:
        if ground[0] in list_fetched_doc:
          if ground[1] == "1":
            count = count + 1 
   
    queries_precision.append(float(count)/10) 

  return float(sum(queries_precision))/len(queries_precision)

#**Q1 Implementing Rocchio Algorithm**

In [ ]:
##takes transformed query as input and returns modifed query using rocchio equation


def rocchio(transformed_query,VECTOR_MATRIX):
  query_doc_relevant = dict()

  #fetching the document v/s relevance from  /content/drive/MyDrive/FIRE_Dataset_EN_2010/en.qrels.76-125.2010.txt  for each query

  f = open("/content/drive/MyDrive/FIRE_Dataset_EN_2010/en.qrels.76-125.2010.txt","r")
  lines = f.readlines()
  for line in lines:
    line_split = line.split(" ")
    line_split[3] =  line_split[3].strip()
    query_no = line_split[0]
    doc_name = line_split[2]
    rel_score = line_split[3]
  
  
    if query_no == " ":
      continue 
    else:
      result = query_doc_relevant.get(query_no,0)
      if result == 0:
        query_doc_relevant[query_no] = [[doc_name,rel_score]]
      else:
        query_doc_relevant[query_no].append([doc_name,rel_score]) 
  
  ###seperating relevant and non relevant document for each query

  #building file name v/s indices matrix
  import pickle 
  f = open("/content/drive/MyDrive/dump/file_names","rb")
  file_names = pickle.load(f)
  file_dict = dict()
  for indices,value in enumerate(file_names):
    file_dict[value] = indices 


  ##modified queries
  modified_transformed_query= list()
  i=0

  alpha=1
  beta=0.75
  gamma=0.15
  for ele,value in query_doc_relevant.items():
    no_of_rel=0
    no_of_irrel = 0
    rel_doc_sum = np.zeros((1,VECTOR_MATRIX.shape[1]))
    irrel_doc_sum = np.zeros((1,VECTOR_MATRIX.shape[1]))
    for rel_doc in value:
      if rel_doc[1] == "0":
        pass
        #irrel_doc_sum += term_doc_matrix[file_dict.get(rel_doc[0]),:]
        #no_of_irrel = no_of_irrel + 1
      else:
        rel_doc_sum += VECTOR_MATRIX[file_dict.get(rel_doc[0]),:]
        no_of_rel = no_of_rel + 1
  
    qm = alpha*transformed_query[i] + beta*(1/no_of_rel)*rel_doc_sum - gamma * (1/(VECTOR_MATRIX.shape[0]-no_of_rel)) * (np.sum(VECTOR_MATRIX,axis=0) - rel_doc_sum);
   
    modified_transformed_query.append(qm) 
    i = i + 1
  return modified_transformed_query

#**Q4  Query Expansion and Trasformation**

In [ ]:
def expand_transform_query(model,model_obj):
  global QUERY_GENERATOR
  Query_expanded = list()
  for query in QUERY_GENERATOR:
    temp = list()
    for tok in query:
      syns = wordnet.synsets(tok)
      syns = syns[0:10]
      for synonym in syns:
        temp.append(synonym.lemmas()[0].name())
  
    Query_expanded.append(temp)

  print("expansion complete")


  #Preprocessing of Query Complete

  #Transforming Queries
  if model == "tfidf":
    expanded_transformed_query = list() 
    for query in Query_expanded:
      expanded_transformed_query.append(model_obj.transform(query))
  else:
    expanded_transformed_query = list()
    for i in Query_expanded:
      
      temp = np.zeros((350))
      for j in i:
        try:
          temp = temp + model_obj[j]
        except:
          continue
      expanded_transformed_query.append(temp)
  print("transformation complete")  
  return expanded_transformed_query



# **Using Custom TFIDF Representation**

#**Q2 TFIDF + ROCCHIO**

In [ ]:
modified_transformed_query = rocchio(transformed_query,term_doc_matrix)

calculating map

In [ ]:
map = calculate_map(modified_transformed_query,term_doc_matrix)

query ID=  76

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1070603_nation_story_7869357.utf8                 0.320252
1     2     1070602_nation_story_7865940.utf8                 0.319014
2     3     1070602_nation_story_7865944.utf8                 0.306179
3     4     1070611_nation_story_7906812.utf8                 0.239266
4     5    1070607_opinion_story_7886010.utf8                 0.228050
5     6     1070530_nation_story_7849973.utf8                 0.218302
6     7  1070605_frontpage_story_7877876.utf8                 0.154808
7     8  1070531_frontpage_story_7855182.utf8                 0.148881
8     9  1050409_frontpage_story_4593939.utf8                 0.141898
9    10  1070603_frontpage_story_7869833.utf8                 0.135834

query ID=  77

   RANK                       DOCUMENT NAME  cosine similarity score
0     1  1060727_foreign_story_6531510.utf8                 0.231339
1     2   1070807_nation_story_8160445.utf8                 0.230443
2     3  1060814_foreign_story_6609200.utf8                 0.210073
3     4  1060724_opinion_story_6493371.utf8                 0.206717
4     5  1060717_foreign_story_6488684.utf8                 0.203178
5     6  1060721_foreign_story_6506359.utf8                 0.201470
6     7  1060724_foreign_story_6517899.utf8                 0.200246
7     8  1060821_opinion_story_6621357.utf8                 0.199443
8     9  1060714_foreign_story_6477224.utf8                 0.197429
9    10  1060810_foreign_story_6592351.utf8                 0.191717

query ID=  78

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1041102_nation_story_3954727.utf8                 0.501916
1     2     1051029_nation_story_5412523.utf8                 0.473869
2     3     1041105_nation_story_3968019.utf8                 0.457067
3     4     1041101_nation_story_3949729.utf8                 0.362043
4     5     1070918_nation_story_8329881.utf8                 0.357888
5     6     1060108_nation_story_5695224.utf8                 0.354460
6     7     1050709_nation_story_4968974.utf8                 0.347388
7     8     1041102_nation_story_3954724.utf8                 0.344371
8     9     1041124_nation_story_4042284.utf8                 0.329359
9    10  1050706_frontpage_story_4956060.utf8                 0.316981

query ID=  79

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1070621_nation_story_7952530.utf8                 0.456158
1     2    1050126_foreign_story_4299245.utf8                 0.452071
2     3  1051010_frontpage_story_5340967.utf8                 0.416711
3     4  1070602_frontpage_story_7865820.utf8                 0.367617
4     5    1050523_foreign_story_4774716.utf8                 0.361126
5     6    1041118_foreign_story_4018047.utf8                 0.355753
6     7     1050319_nation_story_4511820.utf8                 0.324512
7     8     1050304_sports_story_4452336.utf8                 0.294994
8     9   1070602_business_story_7865501.utf8                 0.285086
9    10    1070416_foreign_story_7652502.utf8                 0.283262

query ID=  80

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1041103_frontpage_story_3959012.utf8                 0.457008
1     2     1050729_nation_story_5048357.utf8                 0.412215
2     3     1070323_nation_story_7555002.utf8                 0.404665
3     4     1050707_nation_story_4959905.utf8                 0.387882
4     5     1041220_nation_story_4151396.utf8                 0.372105
5     6  1041223_frontpage_story_4163563.utf8                 0.354417
6     7    1070324_opinion_story_7551970.utf8                 0.343934
7     8     1050916_nation_story_5245081.utf8                 0.326344
8     9     1070321_nation_story_7545225.utf8                 0.318580
9    10     1050725_nation_story_5030947.utf8                 0.317176

query ID=  81

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1051218_nation_story_5615385.utf8                 0.393040
1     2    1060829_opinion_story_6657643.utf8                 0.391114
2     3     1060726_nation_story_6526490.utf8                 0.385635
3     4     1050831_nation_story_5178370.utf8                 0.375628
4     5     1060822_nation_story_6641118.utf8                 0.360778
5     6  1060821_frontpage_story_6636584.utf8                 0.354530
6     7     1070412_nation_story_7637872.utf8                 0.262190
7     8    1051129_foreign_story_5535728.utf8                 0.261025
8     9     1050208_nation_story_4350261.utf8                 0.232491
9    10     1050808_nation_story_5087323.utf8                 0.228749

query ID=  82

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1050421_frontpage_story_4642066.utf8                 0.491741
1     2     1050405_nation_story_4575953.utf8                 0.464522
2     3     1050330_nation_story_4551477.utf8                 0.440529
3     4     1041210_nation_story_4110264.utf8                 0.426748
4     5  1050409_frontpage_story_4593938.utf8                 0.364707
5     6     1050422_nation_story_4646055.utf8                 0.357076
6     7     1050417_nation_story_4625341.utf8                 0.354149
7     8     1050717_nation_story_5000325.utf8                 0.337816
8     9    1050403_opinion_story_4567496.utf8                 0.337582
9    10     1070525_nation_story_7825299.utf8                 0.321702

query ID=  83

   RANK                         DOCUMENT NAME  cosine similarity score
0     1    1050922_opinion_story_5262655.utf8                 0.461624
1     2     1050214_nation_story_4375810.utf8                 0.457774
2     3     1041202_nation_story_4075901.utf8                 0.443593
3     4     1050122_nation_story_4284400.utf8                 0.437776
4     5    1050526_opinion_story_4780960.utf8                 0.430629
5     6  1050113_frontpage_story_4247957.utf8                 0.409334
6     7  1050308_frontpage_story_4466803.utf8                 0.401848
7     8     1050301_nation_story_4438590.utf8                 0.400131
8     9    1050418_opinion_story_4591231.utf8                 0.398092
9    10     1050908_nation_story_5211620.utf8                 0.396725

query ID=  84

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1060104_frontpage_story_5679195.utf8                 0.570832
1     2    1060109_opinion_story_5680042.utf8                 0.495226
2     3     1060105_nation_story_5682584.utf8                 0.474957
3     4  1060106_frontpage_story_5687482.utf8                 0.463804
4     5     1060108_nation_story_5695226.utf8                 0.389279
5     6  1061223_frontpage_story_7175502.utf8                 0.380910
6     7     1070719_nation_story_8078132.utf8                 0.281870
7     8     1050412_nation_story_4605245.utf8                 0.268564
8     9     1060407_nation_story_6068164.utf8                 0.264811
9    10  1050629_frontpage_story_4927976.utf8                 0.261883

query ID=  85

   RANK                         DOCUMENT NAME  cosine similarity score
0     1    1051115_opinion_story_5475280.utf8                 0.444950
1     2     1060115_nation_story_5723429.utf8                 0.399045
2     3  1051116_frontpage_story_5483063.utf8                 0.395543
3     4     1051124_nation_story_5515759.utf8                 0.388567
4     5     1051129_nation_story_5535127.utf8                 0.379466
5     6  1051112_frontpage_story_5468138.utf8                 0.376903
6     7     1051130_nation_story_5540454.utf8                 0.371008
7     8     1051115_nation_story_5478694.utf8                 0.368052
8     9     1051208_nation_story_5573594.utf8                 0.367312
9    10     1051116_nation_story_5482864.utf8                 0.362811

query ID=  86

   RANK                        DOCUMENT NAME  cosine similarity score
0     1   1060201_opinion_story_5788230.utf8                 0.299319
1     2  1060917_business_story_6756779.utf8                 0.294550
2     3    1060221_nation_story_5874576.utf8                 0.293386
3     4  1041216_business_story_4133832.utf8                 0.290736
4     5  1060401_business_story_6042448.utf8                 0.275733
5     6  1050825_business_story_5152801.utf8                 0.275727
6     7  1050826_business_story_5152801.utf8                 0.275727
7     8    1060202_nation_story_5795449.utf8                 0.275120
8     9  1060609_business_story_6330097.utf8                 0.261948
9    10    1060201_nation_story_5790578.utf8                 0.258756

query ID=  87

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1070113_frontpage_story_7255885.utf8                 0.412367
1     2     1050609_nation_story_4844195.utf8                 0.410923
2     3     1041118_nation_story_4017141.utf8                 0.406912
3     4  1051005_frontpage_story_5321640.utf8                 0.388581
4     5     1070119_nation_story_7282221.utf8                 0.368136
5     6     1040927_nation_story_3808787.utf8                 0.357812
6     7  1050613_frontpage_story_4860799.utf8                 0.356349
7     8    1070117_opinion_story_7270248.utf8                 0.340883
8     9     1050919_nation_story_5256797.utf8                 0.329292
9    10     1061116_nation_story_7008362.utf8                 0.326606

query ID=  88

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1041117_nation_story_4013313.utf8                 0.491315
1     2  1050111_frontpage_story_4239312.utf8                 0.396130
2     3     1050617_nation_story_4878744.utf8                 0.392860
3     4  1050119_frontpage_story_4271305.utf8                 0.374302
4     5     1050610_nation_story_4849264.utf8                 0.371284
5     6     1041125_nation_story_4047032.utf8                 0.360468
6     7     1050321_nation_story_4518173.utf8                 0.358139
7     8     1050112_nation_story_4242953.utf8                 0.349950
8     9     1050120_nation_story_4275833.utf8                 0.349020
9    10     1050412_nation_story_4604160.utf8                 0.347185

query ID=  89

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1060219_nation_story_5866531.utf8                 0.367507
1     2     1060502_nation_story_6171218.utf8                 0.365260
2     3     1060428_nation_story_6154723.utf8                 0.355725
3     4     1060904_nation_story_6696104.utf8                 0.323289
4     5     1060815_nation_story_6614253.utf8                 0.318931
5     6  1051208_frontpage_story_5574008.utf8                 0.318796
6     7  1051104_frontpage_story_5435811.utf8                 0.307372
7     8     1060523_nation_story_6258265.utf8                 0.300021
8     9     1060813_nation_story_6605877.utf8                 0.284937
9    10     1051101_nation_story_5424089.utf8                 0.282166

query ID=  90

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1051029_frontpage_story_5413540.utf8                 0.276862
1     2  1040917_frontpage_story_3769177.utf8                 0.262099
2     3    1051031_opinion_story_5418889.utf8                 0.257134
3     4  1040918_frontpage_story_3773201.utf8                 0.251022
4     5     1040915_nation_story_3759556.utf8                 0.230171
5     6     1050819_nation_story_5131201.utf8                 0.226569
6     7     1060908_nation_story_6715045.utf8                 0.226531
7     8    1060324_opinion_story_6005332.utf8                 0.205336
8     9    1041209_opinion_story_4103790.utf8                 0.205187
9    10     1050807_nation_story_5084803.utf8                 0.204164

query ID=  91

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1070624_nation_story_7966280.utf8                 0.516307
1     2     1070629_nation_story_7990989.utf8                 0.494892
2     3     1070629_nation_story_7990990.utf8                 0.472952
3     4    1070726_opinion_story_8092307.utf8                 0.469024
4     5     1070702_nation_story_8003800.utf8                 0.431486
5     6     1070704_nation_story_8013769.utf8                 0.425213
6     7     1070714_nation_story_8057579.utf8                 0.379560
7     8  1070615_frontpage_story_7926422.utf8                 0.371857
8     9    1070702_opinion_story_7992688.utf8                 0.356130
9    10     1070624_nation_story_7966282.utf8                 0.338417

query ID=  92

   RANK                       DOCUMENT NAME  cosine similarity score
0     1  1060416_foreign_story_6105097.utf8                 0.362554
1     2  1060610_foreign_story_6334447.utf8                 0.352517
2     3  1060529_foreign_story_6283160.utf8                 0.343165
3     4  1061001_foreign_story_6815921.utf8                 0.341423
4     5  1060523_foreign_story_6258616.utf8                 0.327407
5     6  1060627_opinion_story_6402355.utf8                 0.324476
6     7   1050814_nation_story_5113143.utf8                 0.316936
7     8  1060919_foreign_story_6764161.utf8                 0.315234
8     9  1061024_opinion_story_6906965.utf8                 0.313815
9    10  1060611_foreign_story_6337689.utf8                 0.308455

query ID=  93

   RANK                         DOCUMENT NAME  cosine similarity score
0     1   1050807_calcutta_story_5079875.utf8                 0.310543
1     2     1051214_nation_story_5598234.utf8                 0.280841
2     3     1051213_nation_story_5594011.utf8                 0.277969
3     4     1070424_nation_story_7689072.utf8                 0.266877
4     5    1051219_opinion_story_5604821.utf8                 0.253348
5     6  1051220_frontpage_story_5622754.utf8                 0.250309
6     7    1061012_opinion_story_6857785.utf8                 0.249397
7     8     1060117_nation_story_5729725.utf8                 0.247164
8     9    1041215_opinion_story_4127849.utf8                 0.240412
9    10  1070501_frontpage_story_7721898.utf8                 0.235405

query ID=  94

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1060407_frontpage_story_6068877.utf8                 0.360868
1     2     1070628_nation_story_7985869.utf8                 0.331446
2     3     1060809_nation_story_6587952.utf8                 0.330005
3     4     1060722_nation_story_6510631.utf8                 0.293076
4     5     1060503_nation_story_6175842.utf8                 0.278911
5     6     1060109_nation_story_5698373.utf8                 0.261019
6     7     1060429_nation_story_6161127.utf8                 0.260368
7     8     1070313_nation_story_7509466.utf8                 0.243693
8     9     1051029_nation_story_5413024.utf8                 0.241601
9    10     1060220_nation_story_5869738.utf8                 0.239091

query ID=  95

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1070119_frontpage_story_7282977.utf8                 0.516160
1     2     1070122_nation_story_7292962.utf8                 0.514792
2     3     1070130_nation_story_7325094.utf8                 0.502874
3     4    1070129_opinion_story_7315220.utf8                 0.500770
4     5     1070129_nation_story_7319522.utf8                 0.498290
5     6     1070121_nation_story_7290431.utf8                 0.487474
6     7  1070227_frontpage_story_7446771.utf8                 0.454736
7     8     1070310_nation_story_7496881.utf8                 0.454263
8     9     1070117_nation_story_7272982.utf8                 0.438321
9    10     1070124_nation_story_7302138.utf8                 0.395935

query ID=  96

   RANK                       DOCUMENT NAME  cosine similarity score
0     1  1060510_opinion_story_6182473.utf8                 0.398181
1     2   1060423_nation_story_6134147.utf8                 0.376717
2     3   1070411_nation_story_7632503.utf8                 0.373304
3     4  1060427_opinion_story_6135656.utf8                 0.362911
4     5   1060507_nation_story_6193532.utf8                 0.333326
5     6   1070412_nation_story_7637210.utf8                 0.312569
6     7   1060423_nation_story_6134145.utf8                 0.311853
7     8  1061125_opinion_story_7047966.utf8                 0.311266
8     9   1060607_nation_story_6321011.utf8                 0.309116
9    10   1060426_nation_story_6145165.utf8                 0.305229

query ID=  97

   RANK                         DOCUMENT NAME  cosine similarity score
0     1   1050117_business_story_4263315.utf8                 0.464893
1     2  1041123_frontpage_story_4038891.utf8                 0.439725
2     3  1050309_frontpage_story_4470935.utf8                 0.434567
3     4   1041202_business_story_4075411.utf8                 0.431248
4     5  1041119_frontpage_story_4022900.utf8                 0.425820
5     6           1050619_business_index.utf8                 0.408230
6     7   1050714_business_story_4987719.utf8                 0.397528
7     8  1050123_frontpage_story_4287830.utf8                 0.396597
8     9  1041202_frontpage_story_4075934.utf8                 0.394153
9    10   1050619_business_story_4886255.utf8                 0.392704

query ID=  98

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1061115_nation_story_7003933.utf8                 0.468296
1     2     1070526_nation_story_7830524.utf8                 0.467227
2     3     1061114_nation_story_6998353.utf8                 0.417462
3     4     1061125_nation_story_7047920.utf8                 0.416632
4     5  1070528_frontpage_story_7838904.utf8                 0.414104
5     6  1070529_frontpage_story_7844891.utf8                 0.394838
6     7    1070616_opinion_story_7929800.utf8                 0.319969
7     8    1070609_opinion_story_7874450.utf8                 0.278550
8     9     1041011_nation_story_3868117.utf8                 0.256363
9    10     1070107_nation_story_7229230.utf8                 0.254434

query ID=  99

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1061219_nation_story_7157548.utf8                 0.492084
1     2     1041208_nation_story_4100626.utf8                 0.424218
2     3     1050426_nation_story_4662541.utf8                 0.406636
3     4     1050510_nation_story_4718613.utf8                 0.384517
4     5     1040916_nation_story_3764495.utf8                 0.371357
5     6     1051027_nation_story_5404366.utf8                 0.367256
6     7     1040918_nation_story_3773413.utf8                 0.345361
7     8     1050223_nation_story_4413219.utf8                 0.344825
8     9     1050410_nation_story_4596672.utf8                 0.332707
9    10  1050318_frontpage_story_4507692.utf8                 0.313869

query ID=  100

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1051112_frontpage_story_5468137.utf8                 0.459475
1     2     1051125_nation_story_5520551.utf8                 0.424761
2     3     1051115_nation_story_5478696.utf8                 0.424188
3     4     1070720_nation_story_8082600.utf8                 0.414015
4     5     1051112_nation_story_5468011.utf8                 0.409807
5     6     1041110_nation_story_3987208.utf8                 0.397385
6     7     1051120_nation_story_5499251.utf8                 0.391795
7     8     1051118_nation_story_5491323.utf8                 0.382953
8     9     1070724_nation_story_8096554.utf8                 0.382489
9    10     1051213_nation_story_5593623.utf8                 0.373397

query ID=  101

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1060603_nation_story_6306769.utf8                 0.530565
1     2     1060607_nation_story_6321011.utf8                 0.469717
2     3  1060603_frontpage_story_6305867.utf8                 0.436892
3     4  1060604_frontpage_story_6309060.utf8                 0.431521
4     5     1060603_nation_story_6305903.utf8                 0.413154
5     6    1061125_opinion_story_7047966.utf8                 0.404549
6     7     1060603_nation_story_6305843.utf8                 0.403471
7     8     1060615_nation_story_6355137.utf8                 0.396861
8     9  1060607_frontpage_story_6320995.utf8                 0.391453
9    10  1060603_frontpage_story_6305862.utf8                 0.389398

query ID=  102

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1070224_sports_story_7434948.utf8                 0.527111
1     2  1070302_frontpage_story_7460703.utf8                 0.527102
2     3     1070217_sports_story_7403536.utf8                 0.481145
3     4     1070214_sports_story_7390672.utf8                 0.458641
4     5     1070111_sports_story_7246956.utf8                 0.433625
5     6     1070301_sports_story_7455915.utf8                 0.424492
6     7     1070225_sports_story_7438494.utf8                 0.418892
7     8     1070112_sports_story_7252096.utf8                 0.404182
8     9  1070301_frontpage_story_7456443.utf8                 0.381438
9    10     1070418_sports_story_7661504.utf8                 0.375542

query ID=  103

   RANK                        DOCUMENT NAME  cosine similarity score
0     1    1050112_nation_story_4243051.utf8                 0.431525
1     2    1050105_nation_story_4212186.utf8                 0.385407
2     3    1050108_nation_story_4226925.utf8                 0.329557
3     4  1070407_business_story_7617191.utf8                 0.329479
4     5    1050818_nation_story_5126656.utf8                 0.323840
5     6    1070213_nation_story_7386151.utf8                 0.321036
6     7    1050725_nation_story_5031112.utf8                 0.318469
7     8    1070213_nation_story_7386557.utf8                 0.307537
8     9    1050107_nation_story_4222879.utf8                 0.295076
9    10    1050119_nation_story_4271375.utf8                 0.293657

query ID=  104

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1060311_nation_story_5954497.utf8                 0.510749
1     2     1060525_nation_story_6266147.utf8                 0.475983
2     3     1060602_nation_story_6301506.utf8                 0.430927
3     4  1060318_frontpage_story_5981561.utf8                 0.417007
4     5    1060311_opinion_story_5951761.utf8                 0.394718
5     6  1060307_frontpage_story_5936287.utf8                 0.379273
6     7     1060426_nation_story_6146158.utf8                 0.364008
7     8     1060308_nation_story_5939546.utf8                 0.350165
8     9    1060322_opinion_story_5992733.utf8                 0.345481
9    10    1060308_opinion_story_5938184.utf8                 0.345322

query ID=  105

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1050115_nation_story_4256947.utf8                 0.407181
1     2  1050823_frontpage_story_5145553.utf8                 0.389179
2     3     1070215_nation_story_7395678.utf8                 0.382361
3     4     1050512_nation_story_4728376.utf8                 0.377983
4     5     1041025_nation_story_3921602.utf8                 0.366353
5     6     1070216_nation_story_7400285.utf8                 0.337330
6     7     1050215_nation_story_4379758.utf8                 0.336147
7     8     1050315_nation_story_4494613.utf8                 0.321852
8     9     1070523_nation_story_7815243.utf8                 0.307734
9    10     1070606_nation_story_7882722.utf8                 0.292209

query ID=  106

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1070814_nation_story_8190672.utf8                 0.382794
1     2  1070810_frontpage_story_8175328.utf8                 0.336622
2     3     1070812_nation_story_8182834.utf8                 0.326105
3     4     1070811_nation_story_8179235.utf8                 0.313332
4     5     1070811_nation_story_8179239.utf8                 0.309797
5     6     1050923_bengal_story_5274462.utf8                 0.299405
6     7     1050218_nation_story_4393159.utf8                 0.292081
7     8     1070813_nation_story_8186157.utf8                 0.275749
8     9    1070820_opinion_story_8184577.utf8                 0.264457
9    10     1050321_bengal_story_4518449.utf8                 0.264323

query ID=  107

   RANK                      DOCUMENT NAME  cosine similarity score
0     1  1070413_nation_story_7642117.utf8                 0.460961
1     2  1070509_nation_story_7752995.utf8                 0.405697
2     3  1070406_nation_story_7613759.utf8                 0.400168
3     4  1070412_nation_story_7637981.utf8                 0.390147
4     5  1070407_nation_story_7617335.utf8                 0.356707
5     6  1070410_nation_story_7628468.utf8                 0.337864
6     7  1070409_nation_story_7622846.utf8                 0.330677
7     8  1070420_nation_story_7671367.utf8                 0.305958
8     9  1070408_nation_story_7620581.utf8                 0.301780
9    10  1070407_nation_story_7617227.utf8                 0.284719

query ID=  108

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1061027_frontpage_story_6922474.utf8                 0.433329
1     2  1060912_frontpage_story_6733972.utf8                 0.419032
2     3  1070913_frontpage_story_8310810.utf8                 0.409898
3     4  1060402_frontpage_story_6046860.utf8                 0.407277
4     5  1070106_frontpage_story_7226972.utf8                 0.402725
5     6  1060708_frontpage_story_6452387.utf8                 0.391934
6     7  1060618_frontpage_story_6367841.utf8                 0.380768
7     8  1070204_frontpage_story_7348015.utf8                 0.361596
8     9  1050403_frontpage_story_4566870.utf8                 0.352716
9    10    1041028_opinion_story_3920231.utf8                 0.350107

query ID=  109

   RANK                       DOCUMENT NAME  cosine similarity score
0     1   1051129_nation_story_5534465.utf8                 0.543274
1     2  1051203_opinion_story_5554758.utf8                 0.531807
2     3   1060116_nation_story_5725038.utf8                 0.522626
3     4   1051128_nation_story_5530281.utf8                 0.502435
4     5   1051216_nation_story_5605895.utf8                 0.484402
5     6   1051203_nation_story_5554019.utf8                 0.480841
6     7   1060103_nation_story_5673645.utf8                 0.470036
7     8   1050818_nation_story_5126655.utf8                 0.469784
8     9   1051127_nation_story_5527388.utf8                 0.463847
9    10  1041016_opinion_story_3889069.utf8                 0.449714

query ID=  110

   RANK                        DOCUMENT NAME  cosine similarity score
0     1    1050907_nation_story_5207019.utf8                 0.365135
1     2  1051227_business_story_5649030.utf8                 0.256074
2     3   1060602_opinion_story_6298639.utf8                 0.255905
3     4    1060620_nation_story_6375357.utf8                 0.191295
4     5   1060223_foreign_story_5884434.utf8                 0.182631
5     6    1050928_nation_story_5293658.utf8                 0.178528
6     7    1050512_bengal_story_4728585.utf8                 0.173987
7     8  1060317_business_story_5976541.utf8                 0.157395
8     9   1050419_opinion_story_4619101.utf8                 0.152658
9    10   1060727_opinion_story_6528037.utf8                 0.145952

query ID=  111

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1060413_nation_story_6093542.utf8                 0.466208
1     2     1050331_nation_story_4555290.utf8                 0.459278
2     3     1060414_nation_story_6097270.utf8                 0.451959
3     4     1050413_nation_story_4609077.utf8                 0.450409
4     5     1050817_nation_story_5121698.utf8                 0.440883
5     6     1050414_nation_story_4612585.utf8                 0.421870
6     7     1050519_nation_story_4757290.utf8                 0.396951
7     8     1050606_nation_story_4832860.utf8                 0.390984
8     9     1050826_nation_story_5158651.utf8                 0.386747
9    10  1050826_frontpage_story_5159316.utf8                 0.386507

query ID=  112

   RANK                         DOCUMENT NAME  cosine similarity score
0     1    1050508_opinion_story_4709525.utf8                 0.372059
1     2  1050125_frontpage_story_4295506.utf8                 0.277954
2     3     1060208_nation_story_5819357.utf8                 0.262175
3     4  1061215_frontpage_story_7142459.utf8                 0.258420
4     5     1070807_nation_story_8159462.utf8                 0.257275
5     6     1050405_nation_story_4575980.utf8                 0.247110
6     7     1060708_nation_story_6451669.utf8                 0.242190
7     8     1050217_nation_story_4389288.utf8                 0.229025
8     9          1061215_frontpage_index.utf8                 0.228621
9    10     1050509_nation_story_4714853.utf8                 0.221827

query ID=  113

   RANK                       DOCUMENT NAME  cosine similarity score
0     1  1061126_foreign_story_7052195.utf8                 0.513080
1     2  1061116_foreign_story_7007945.utf8                 0.347124
2     3  1061115_foreign_story_7002790.utf8                 0.346068
3     4  1061129_foreign_story_7065308.utf8                 0.344283
4     5  1070115_opinion_story_7261623.utf8                 0.336798
5     6  1061225_foreign_story_7181993.utf8                 0.335393
6     7  1061122_foreign_story_7034597.utf8                 0.333624
7     8  1061031_foreign_story_6938793.utf8                 0.300404
8     9  1070615_foreign_story_7925397.utf8                 0.300027
9    10  1070706_foreign_story_8022774.utf8                 0.297644

query ID=  114

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1050420_frontpage_story_4637476.utf8                 0.487998
1     2     1050607_nation_story_4836754.utf8                 0.464898
2     3  1050423_frontpage_story_4651456.utf8                 0.436872
3     4  1050421_frontpage_story_4642068.utf8                 0.388268
4     5     1050421_nation_story_4642129.utf8                 0.386495
5     6  1050422_frontpage_story_4646612.utf8                 0.368337
6     7     1051020_nation_story_5376557.utf8                 0.352232
7     8     1050422_nation_story_4645493.utf8                 0.310845
8     9     1051208_nation_story_5573643.utf8                 0.288882
9    10     1051107_nation_story_5445721.utf8                 0.236827

query ID=  115

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1060308_frontpage_story_5941755.utf8                 0.298290
1     2     1060308_nation_story_5940209.utf8                 0.282602
2     3     1060720_nation_story_6498800.utf8                 0.255641
3     4     1060316_nation_story_5971873.utf8                 0.247794
4     5    1060313_opinion_story_5947770.utf8                 0.246457
5     6     1061127_nation_story_7055583.utf8                 0.223172
6     7     1060309_nation_story_5945340.utf8                 0.222609
7     8     1060311_nation_story_5954673.utf8                 0.211656
8     9  1060310_frontpage_story_5950087.utf8                 0.202930
9    10   1070521_calcutta_story_7804799.utf8                 0.202557

query ID=  116

   RANK                         DOCUMENT NAME  cosine similarity score
0     1    1060128_opinion_story_5775492.utf8                 0.615682
1     2     1060121_nation_story_5748791.utf8                 0.581724
2     3  1060126_frontpage_story_5768633.utf8                 0.563259
3     4     1060421_nation_story_6126861.utf8                 0.559551
4     5     1060218_nation_story_5862838.utf8                 0.532811
5     6     1060221_nation_story_5873931.utf8                 0.530526
6     7     1060122_nation_story_5751717.utf8                 0.529012
7     8     1060123_nation_story_5754114.utf8                 0.517190
8     9     1060203_nation_story_5798365.utf8                 0.461924
9    10     1060126_nation_story_5768230.utf8                 0.427840

query ID=  117

   RANK                         DOCUMENT NAME  cosine similarity score
0     1   1061030_business_story_6933937.utf8                 0.372823
1     2     1060112_nation_story_5711093.utf8                 0.352193
2     3   1060105_business_story_5682304.utf8                 0.339401
3     4   1060529_business_story_6283003.utf8                 0.301074
4     5   1070901_business_story_8262158.utf8                 0.253573
5     6    1060105_opinion_story_5680809.utf8                 0.243140
6     7  1060111_frontpage_story_5706744.utf8                 0.242022
7     8     1060103_nation_story_5673695.utf8                 0.238188
8     9   1060712_business_story_6467004.utf8                 0.235343
9    10  1060103_frontpage_story_5674777.utf8                 0.235343

query ID=  118

   RANK                         DOCUMENT NAME  cosine similarity score
0     1   1060810_calcutta_story_6554869.utf8                 0.308237
1     2     1050706_nation_story_4955838.utf8                 0.304036
2     3    1050711_opinion_story_4957028.utf8                 0.298106
3     4    1060602_opinion_story_6271344.utf8                 0.260196
4     5   1060726_calcutta_story_6521941.utf8                 0.259560
5     6     1050706_nation_story_4955743.utf8                 0.251066
6     7     1050707_nation_story_4960172.utf8                 0.241567
7     8  1050707_frontpage_story_4959753.utf8                 0.239821
8     9     1050707_nation_story_4959908.utf8                 0.235193
9    10    1060605_opinion_story_6306856.utf8                 0.233772

query ID=  119

   RANK                         DOCUMENT NAME  cosine similarity score
0     1    1050718_opinion_story_4994184.utf8                 0.624443
1     2     1050813_nation_story_5108420.utf8                 0.602004
2     3  1050714_frontpage_story_4988276.utf8                 0.572094
3     4     1050714_nation_story_4988361.utf8                 0.531459
4     5     1050720_nation_story_5010221.utf8                 0.523341
5     6     1050714_nation_story_4988359.utf8                 0.482515
6     7     1050715_nation_story_4992987.utf8                 0.472326
7     8     1061229_nation_story_7196471.utf8                 0.402524
8     9     1050609_nation_story_4843677.utf8                 0.395681
9    10    1050715_opinion_story_4989948.utf8                 0.384847

query ID=  120

   RANK                       DOCUMENT NAME  cosine similarity score
0     1   1050209_nation_story_4356065.utf8                 0.590035
1     2   1050210_nation_story_4359510.utf8                 0.550036
2     3   1050624_nation_story_4908599.utf8                 0.542217
3     4   1050106_nation_story_4218937.utf8                 0.514593
4     5   1070623_nation_story_7962389.utf8                 0.493060
5     6   1050125_nation_story_4295596.utf8                 0.410334
6     7   1041226_nation_story_4175544.utf8                 0.407908
7     8   1050312_nation_story_4484256.utf8                 0.392259
8     9   1041210_nation_story_4109648.utf8                 0.381724
9    10  1050115_opinion_story_4241122.utf8                 0.357411

query ID=  121

   RANK                         DOCUMENT NAME  cosine similarity score
0     1          1070222_frontpage_index.utf8                 0.318543
1     2    1070222_opinion_story_7417136.utf8                 0.315450
2     3     1070305_nation_story_7471013.utf8                 0.271008
3     4     1070220_nation_story_7415425.utf8                 0.255120
4     5  1070222_frontpage_story_7425408.utf8                 0.254299
5     6     1070224_nation_story_7434742.utf8                 0.243902
6     7     1070329_nation_story_7579268.utf8                 0.230056
7     8    1041207_foreign_story_4096629.utf8                 0.229123
8     9    1070220_opinion_story_7412977.utf8                 0.216751
9    10          1070221_frontpage_index.utf8                 0.213966

query ID=  122

   RANK                         DOCUMENT NAME  cosine similarity score
0     1    1070807_opinion_story_8153654.utf8                 0.397047
1     2     1061207_nation_story_7106972.utf8                 0.358406
2     3    1061205_opinion_story_7086674.utf8                 0.354648
3     4             1070801_nation_index.utf8                 0.345203
4     5  1061129_frontpage_story_7066216.utf8                 0.333565
5     6     1070811_nation_story_8178916.utf8                 0.317811
6     7     1070207_nation_story_7360356.utf8                 0.316510
7     8     1061222_nation_story_7171528.utf8                 0.316400
8     9  1070731_frontpage_story_8130571.utf8                 0.316315
9    10     1070824_nation_story_8230796.utf8                 0.314545

query ID=  123

   RANK                         DOCUMENT NAME  cosine similarity score
0     1    1041110_foreign_story_3987311.utf8                 0.562285
1     2     1041030_nation_story_3943294.utf8                 0.541744
2     3    1041203_opinion_story_4069612.utf8                 0.516117
3     4    1041106_foreign_story_3972071.utf8                 0.511056
4     5    1041105_foreign_story_3968081.utf8                 0.506820
5     6    1041108_foreign_story_3978518.utf8                 0.504124
6     7  1041112_frontpage_story_3995357.utf8                 0.500263
7     8    1041030_foreign_story_3943345.utf8                 0.486986
8     9  1041111_frontpage_story_3991738.utf8                 0.479890
9    10    1041112_foreign_story_3995445.utf8                 0.467618

query ID=  124

   RANK                        DOCUMENT NAME  cosine similarity score
0     1   1040905_opinion_story_3718881.utf8                 0.365155
1     2   1050323_opinion_story_4467789.utf8                 0.353493
2     3  1070130_calcutta_story_7314924.utf8                 0.312621
3     4  1040918_business_story_3772991.utf8                 0.304697
4     5   1060117_opinion_story_5727653.utf8                 0.304038
5     6  1060818_business_story_6624384.utf8                 0.284586
6     7  1060316_business_story_5971953.utf8                 0.282736
7     8    1050217_nation_story_4389677.utf8                 0.278004
8     9  1060607_business_story_6320638.utf8                 0.277501
9    10  1060924_business_story_6786542.utf8                 0.269702

query ID=  125

   RANK                       DOCUMENT NAME  cosine similarity score
0     1  1070806_foreign_story_8155233.utf8                 0.417170
1     2  1070712_opinion_story_8046139.utf8                 0.353002
2     3  1070728_foreign_story_8117144.utf8                 0.350625
3     4  1070822_foreign_story_8222596.utf8                 0.332761
4     5  1070729_foreign_story_8120955.utf8                 0.332597
5     6          1070711_foreign_index.utf8                 0.322778
6     7  1070705_foreign_story_8019084.utf8                 0.312443
7     8  1070726_foreign_story_8108245.utf8                 0.308380
8     9  1070731_foreign_story_8128927.utf8                 0.307852
9    10  1070520_opinion_story_7801150.utf8                 0.287856

#MAP TFIDF + ROCCHIO

In [ ]:
print("map with tfidf + rocchio = ",map)

map with tfidf + rocchio =  0.43000000000000016

#**Q3 TFIDF + ROCCHIO + EXPANSION**

here we are expanding the initial query and after that we are applying rocchio algorithm

In [ ]:

##reading dumped expanded_transformed_query 

expanded_transformed_query = expand_transform_query("tfidf",obj_tfidf)
#expanded_transformed_query = pickle.load(open("/content/drive/MyDrive/expanded_transformed_query","rb"))

modified_transformed_query = rocchio(expanded_transformed_query,term_doc_matrix)       ##returns modified query

expansion complete
transformation complete

calculating map

In [ ]:
map = calculate_map(modified_transformed_query,term_doc_matrix)

query ID=  76

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1070602_nation_story_7865940.utf8                 0.274605
1     2     1070603_nation_story_7869357.utf8                 0.273596
2     3     1070611_nation_story_7906812.utf8                 0.243645
3     4     1070530_nation_story_7849973.utf8                 0.235583
4     5     1070602_nation_story_7865944.utf8                 0.214263
5     6    1070607_opinion_story_7886010.utf8                 0.203086
6     7     1070530_nation_story_7849974.utf8                 0.198026
7     8  1070531_frontpage_story_7855182.utf8                 0.195212
8     9  1070605_frontpage_story_7877876.utf8                 0.184459
9    10  1070603_frontpage_story_7869833.utf8                 0.178850

query ID=  77

   RANK                        DOCUMENT NAME  cosine similarity score
0     1   1060717_foreign_story_6488684.utf8                 0.331339
1     2  1060810_calcutta_story_6554869.utf8                 0.313908
2     3    1070727_nation_story_8112080.utf8                 0.305197
3     4   1051229_foreign_story_5657775.utf8                 0.302409
4     5    1060712_nation_story_6467796.utf8                 0.296162
5     6   1060806_foreign_story_6575214.utf8                 0.295523
6     7   1060814_foreign_story_6609200.utf8                 0.294848
7     8   1060719_foreign_story_6496938.utf8                 0.292755
8     9  1060830_calcutta_story_6663465.utf8                 0.290571
9    10    1051229_nation_story_5657738.utf8                 0.289047

query ID=  78

   RANK                         DOCUMENT NAME  cosine similarity score
0     1    1051122_opinion_story_5504916.utf8                 0.396363
1     2     1041105_nation_story_3968019.utf8                 0.332574
2     3    1070105_opinion_story_7215817.utf8                 0.324200
3     4    1051123_opinion_story_5508553.utf8                 0.248059
4     5   1060117_business_story_5730268.utf8                 0.241599
5     6    1060220_opinion_story_5850159.utf8                 0.227194
6     7    1041202_opinion_story_4003538.utf8                 0.217512
7     8     1041102_nation_story_3954727.utf8                 0.212795
8     9    1050223_opinion_story_4410891.utf8                 0.201434
9    10  1041028_frontpage_story_3934751.utf8                 0.196406

query ID=  79

   RANK                         DOCUMENT NAME  cosine similarity score
0     1   1060527_calcutta_story_6268907.utf8                 0.267634
1     2  1051010_frontpage_story_5340967.utf8                 0.239791
2     3     1070621_nation_story_7952530.utf8                 0.217345
3     4    1050523_foreign_story_4774716.utf8                 0.215321
4     5    1060113_foreign_story_5715489.utf8                 0.197185
5     6    1070416_foreign_story_7652502.utf8                 0.177751
6     7     1050304_sports_story_4452336.utf8                 0.173481
7     8   1070417_calcutta_story_7655620.utf8                 0.169774
8     9             1070621_nation_index.utf8                 0.162818
9    10    1050126_foreign_story_4299245.utf8                 0.162768

query ID=  80

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1070323_nation_story_7555002.utf8                 0.348815
1     2  1041103_frontpage_story_3959012.utf8                 0.339707
2     3     1050707_nation_story_4959905.utf8                 0.300278
3     4     1041220_nation_story_4151396.utf8                 0.281359
4     5  1041223_frontpage_story_4163563.utf8                 0.280367
5     6     1050916_nation_story_5245081.utf8                 0.279335
6     7     1050729_nation_story_5048357.utf8                 0.260670
7     8     1041202_nation_story_4075792.utf8                 0.244917
8     9     1051020_nation_story_5375833.utf8                 0.233132
9    10     1041202_bengal_story_4076336.utf8                 0.225398

query ID=  81

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1060726_nation_story_6526490.utf8                 0.453969
1     2     1051218_nation_story_5615385.utf8                 0.446094
2     3     1060822_nation_story_6641118.utf8                 0.442787
3     4  1060821_frontpage_story_6636584.utf8                 0.432763
4     5    1060829_opinion_story_6657643.utf8                 0.390026
5     6     1050831_nation_story_5178370.utf8                 0.330267
6     7     1070412_nation_story_7637872.utf8                 0.301975
7     8    1051129_foreign_story_5535728.utf8                 0.297560
8     9     1041007_nation_story_3851528.utf8                 0.273141
9    10     1050808_nation_story_5087323.utf8                 0.271075

query ID=  82

   RANK                         DOCUMENT NAME  cosine similarity score
0     1   1061211_calcutta_story_7124643.utf8                 0.332089
1     2     1050405_nation_story_4575953.utf8                 0.325742
2     3   1061030_calcutta_story_6932124.utf8                 0.323780
3     4   1070123_calcutta_story_7283742.utf8                 0.320933
4     5     1050330_nation_story_4551477.utf8                 0.318563
5     6     1050404_nation_story_4571567.utf8                 0.318029
6     7  1050421_frontpage_story_4642066.utf8                 0.314839
7     8   1061218_calcutta_story_7151780.utf8                 0.312530
8     9     1050617_nation_story_4879057.utf8                 0.311249
9    10     1041214_nation_story_4125000.utf8                 0.298490

query ID=  83

   RANK                        DOCUMENT NAME  cosine similarity score
0     1   1050622_opinion_story_4855728.utf8                 0.323616
1     2    1041022_nation_story_3913967.utf8                 0.292002
2     3   1070614_opinion_story_7908055.utf8                 0.283828
3     4   1050916_opinion_story_5242742.utf8                 0.275047
4     5    1060316_nation_story_5969836.utf8                 0.269060
5     6  1050620_calcutta_story_4889930.utf8                 0.259329
6     7    1050115_nation_story_4256851.utf8                 0.257505
7     8    1060513_nation_story_6217809.utf8                 0.252182
8     9    1051117_nation_story_5486358.utf8                 0.250243
9    10    1041021_nation_story_3908870.utf8                 0.247368

query ID=  84

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1060104_frontpage_story_5679195.utf8                 0.397290
1     2     1060105_nation_story_5682584.utf8                 0.382583
2     3    1060109_opinion_story_5680042.utf8                 0.344225
3     4     1060108_nation_story_5695226.utf8                 0.306226
4     5   1061023_calcutta_story_6903484.utf8                 0.249790
5     6  1060106_frontpage_story_5687482.utf8                 0.240207
6     7     1060112_nation_story_5710721.utf8                 0.232237
7     8   1050526_calcutta_story_4780883.utf8                 0.204142
8     9  1061223_frontpage_story_7175502.utf8                 0.200343
9    10   1050829_business_story_5169059.utf8                 0.182002

query ID=  85

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1060614_nation_story_6351073.utf8                 0.278194
1     2  1051112_frontpage_story_5468138.utf8                 0.264066
2     3     1060308_nation_story_5940109.utf8                 0.252694
3     4     1060810_nation_story_6591970.utf8                 0.237791
4     5     1051116_nation_story_5482864.utf8                 0.236026
5     6     1051208_nation_story_5573594.utf8                 0.235787
6     7     1060912_nation_story_6732673.utf8                 0.231959
7     8  1051114_frontpage_story_5474333.utf8                 0.230402
8     9     1051120_nation_story_5499250.utf8                 0.230214
9    10  1051116_frontpage_story_5483063.utf8                 0.222166

query ID=  86

   RANK                        DOCUMENT NAME  cosine similarity score
0     1  1050915_business_story_5240849.utf8                 0.312520
1     2  1060729_business_story_6539277.utf8                 0.292143
2     3    1050827_nation_story_5163200.utf8                 0.279146
3     4  1051222_business_story_5631332.utf8                 0.275113
4     5    1060201_nation_story_5790273.utf8                 0.271521
5     6  1050910_business_story_5220819.utf8                 0.258642
6     7    1050804_nation_story_5072142.utf8                 0.252876
7     8  1060111_business_story_5706639.utf8                 0.252756
8     9  1060628_calcutta_story_6408361.utf8                 0.250783
9    10  1050719_business_story_5007230.utf8                 0.250749

query ID=  87

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1041118_nation_story_4017141.utf8                 0.319395
1     2  1051005_frontpage_story_5321640.utf8                 0.283448
2     3     1041113_nation_story_3998995.utf8                 0.280298
3     4    1061120_opinion_story_7023564.utf8                 0.262919
4     5  1041112_frontpage_story_3995356.utf8                 0.259123
5     6     1061116_nation_story_7008362.utf8                 0.256946
6     7     1060401_nation_story_6042742.utf8                 0.247879
7     8  1050613_frontpage_story_4860799.utf8                 0.230305
8     9     1051004_nation_story_5317408.utf8                 0.225152
9    10     1041211_nation_story_4114937.utf8                 0.221336

query ID=  88

   RANK                        DOCUMENT NAME  cosine similarity score
0     1    1050204_nation_story_4336045.utf8                 0.202397
1     2    1050112_nation_story_4242952.utf8                 0.194948
2     3    1041126_nation_story_4051568.utf8                 0.193542
3     4    1041118_nation_story_4017382.utf8                 0.179246
4     5  1060516_calcutta_story_6227899.utf8                 0.177400
5     6    1070417_sports_story_7657167.utf8                 0.174695
6     7   1060601_opinion_story_6293988.utf8                 0.174312
7     8    1041118_nation_story_4017603.utf8                 0.173295
8     9    1041204_nation_story_4084529.utf8                 0.173199
9    10    1041117_nation_story_4013313.utf8                 0.170086

query ID=  89

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1060219_nation_story_5866531.utf8                 0.231346
1     2     1060428_nation_story_6154723.utf8                 0.214133
2     3  1051106_frontpage_story_5443160.utf8                 0.207402
3     4     1051108_nation_story_5450432.utf8                 0.200561
4     5  1051208_frontpage_story_5574008.utf8                 0.197765
5     6  1051108_frontpage_story_5450301.utf8                 0.194730
6     7   1060131_calcutta_story_5782661.utf8                 0.189829
7     8  1060724_frontpage_story_6517259.utf8                 0.187147
8     9  1051110_frontpage_story_5459184.utf8                 0.185622
9    10  1051110_frontpage_story_5459680.utf8                 0.183347

query ID=  90

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1060908_nation_story_6715045.utf8                 0.292490
1     2  1051029_frontpage_story_5413540.utf8                 0.273875
2     3  1040917_frontpage_story_3769177.utf8                 0.272106
3     4  1070827_frontpage_story_8241162.utf8                 0.265988
4     5     1041029_sports_story_3939202.utf8                 0.264019
5     6  1040918_frontpage_story_3773201.utf8                 0.261794
6     7     1070610_sports_story_7902651.utf8                 0.249872
7     8     1060610_sports_story_6334725.utf8                 0.243447
8     9     1040929_nation_story_3817327.utf8                 0.240871
9    10     1050605_bengal_story_4829019.utf8                 0.237794

query ID=  91

   RANK                       DOCUMENT NAME  cosine similarity score
0     1  1041022_opinion_story_3910917.utf8                 0.277204
1     2  1051022_opinion_story_5382798.utf8                 0.274836
2     3   1041021_nation_story_3908337.utf8                 0.266331
3     4  1061013_opinion_story_6862613.utf8                 0.264419
4     5   1070704_nation_story_8013769.utf8                 0.253574
5     6   1070629_nation_story_7990990.utf8                 0.244034
6     7   1060919_nation_story_6763235.utf8                 0.231642
7     8   1070624_nation_story_7966280.utf8                 0.217276
8     9   1070703_nation_story_8008354.utf8                 0.209201
9    10  1050703_opinion_story_4942345.utf8                 0.204123

query ID=  92

   RANK                       DOCUMENT NAME  cosine similarity score
0     1  1060427_foreign_story_6151284.utf8                 0.290367
1     2  1051222_foreign_story_5631245.utf8                 0.287467
2     3  1070328_foreign_story_7575109.utf8                 0.276850
3     4  1041127_foreign_story_4055924.utf8                 0.268711
4     5  1060108_foreign_story_5695187.utf8                 0.265859
5     6  1060426_foreign_story_6146369.utf8                 0.264497
6     7  1051229_foreign_story_5657777.utf8                 0.264201
7     8  1060429_foreign_story_6160700.utf8                 0.262841
8     9  1051231_foreign_story_5665030.utf8                 0.253839
9    10  1060611_foreign_story_6337689.utf8                 0.252443

query ID=  93

   RANK                        DOCUMENT NAME  cosine similarity score
0     1    1051214_nation_story_5598234.utf8                 0.183033
1     2  1051224_calcutta_story_5640860.utf8                 0.175324
2     3    1050721_sports_story_5015757.utf8                 0.173779
3     4  1060722_calcutta_story_6511134.utf8                 0.171756
4     5  1050624_calcutta_story_4906007.utf8                 0.165775
5     6    1050316_nation_story_4498876.utf8                 0.163847
6     7   1051219_opinion_story_5604821.utf8                 0.163009
7     8  1050807_calcutta_story_5079875.utf8                 0.157489
8     9    1060117_nation_story_5729725.utf8                 0.156048
9    10    1060203_nation_story_5797969.utf8                 0.152140

query ID=  94

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1060227_nation_story_5901257.utf8                 0.451050
1     2     1070628_nation_story_7985869.utf8                 0.433301
2     3  1060407_frontpage_story_6068877.utf8                 0.432620
3     4  1060805_frontpage_story_6571534.utf8                 0.389223
4     5     1050528_nation_story_4796914.utf8                 0.377286
5     6   1070815_calcutta_story_8194015.utf8                 0.367441
6     7     1060626_nation_story_6400808.utf8                 0.365753
7     8     1060809_nation_story_6587952.utf8                 0.337503
8     9    1060927_foreign_story_6799408.utf8                 0.331691
9    10  1061016_frontpage_story_6876340.utf8                 0.323770

query ID=  95

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1070119_frontpage_story_7282977.utf8                 0.393087
1     2     1070117_nation_story_7272982.utf8                 0.357157
2     3     1070310_nation_story_7496881.utf8                 0.353989
3     4     1070122_nation_story_7292962.utf8                 0.340515
4     5     1070121_nation_story_7290431.utf8                 0.330249
5     6     1070130_nation_story_7325094.utf8                 0.304978
6     7     1070118_nation_story_7277918.utf8                 0.287105
7     8    1070129_opinion_story_7315220.utf8                 0.277214
8     9     1070311_nation_story_7500993.utf8                 0.275747
9    10  1070227_frontpage_story_7446771.utf8                 0.273640

query ID=  96

   RANK                        DOCUMENT NAME  cosine similarity score
0     1    1070124_nation_story_7301639.utf8                 0.309280
1     2    1070124_nation_story_7302747.utf8                 0.195673
2     3    1060615_nation_story_6355137.utf8                 0.174472
3     4    1070622_sports_story_7957350.utf8                 0.170396
4     5   1050511_foreign_story_4723808.utf8                 0.166081
5     6    1060615_nation_story_6355138.utf8                 0.162484
6     7            1070124_nation_index.utf8                 0.161129
7     8  1061206_calcutta_story_7089111.utf8                 0.149542
8     9    1060504_nation_story_6180373.utf8                 0.142544
9    10    1070228_nation_story_7451439.utf8                 0.139803

query ID=  97

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1041123_frontpage_story_4038891.utf8                 0.315543
1     2   1041202_business_story_4075411.utf8                 0.284535
2     3  1041209_frontpage_story_4105660.utf8                 0.270630
3     4  1041216_frontpage_story_4135458.utf8                 0.269744
4     5  1050309_frontpage_story_4470935.utf8                 0.259382
5     6  1041119_frontpage_story_4022900.utf8                 0.256012
6     7   1050628_business_story_4923656.utf8                 0.245801
7     8  1050408_frontpage_story_4589514.utf8                 0.244969
8     9   1050117_business_story_4263315.utf8                 0.242128
9    10  1060208_frontpage_story_5819545.utf8                 0.240266

query ID=  98

   RANK                         DOCUMENT NAME  cosine similarity score
0     1   1050803_business_story_5067291.utf8                 0.296644
1     2     1061114_nation_story_6998353.utf8                 0.244203
2     3     1061115_nation_story_7003933.utf8                 0.219031
3     4     1070526_nation_story_7830524.utf8                 0.207416
4     5     1061125_nation_story_7047920.utf8                 0.190242
5     6   1050207_business_story_4346677.utf8                 0.189068
6     7  1070528_frontpage_story_7838904.utf8                 0.188277
7     8     1070222_nation_story_7425094.utf8                 0.187788
8     9     1050304_nation_story_4452222.utf8                 0.176300
9    10     1061118_nation_story_7019028.utf8                 0.174088

query ID=  99

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1061219_nation_story_7157548.utf8                 0.391073
1     2     1050410_nation_story_4596672.utf8                 0.286580
2     3     1051027_nation_story_5404366.utf8                 0.279737
3     4     1050426_nation_story_4662541.utf8                 0.248131
4     5     1050510_nation_story_4718613.utf8                 0.236341
5     6  1050318_frontpage_story_4507692.utf8                 0.225732
6     7     1060822_nation_story_6641052.utf8                 0.222319
7     8     1041208_nation_story_4100626.utf8                 0.212964
8     9     1040916_nation_story_3764495.utf8                 0.208520
9    10     1050223_nation_story_4413219.utf8                 0.205476

query ID=  100

   RANK                         DOCUMENT NAME  cosine similarity score
0     1   1050626_business_story_4916404.utf8                 0.537253
1     2   1070504_business_story_7732254.utf8                 0.432006
2     3   1050416_business_story_4621496.utf8                 0.349268
3     4   1060824_business_story_6649196.utf8                 0.308396
4     5   1060804_business_story_6565735.utf8                 0.301355
5     6           1050626_business_index.utf8                 0.258452
6     7   1060524_business_story_6261967.utf8                 0.226443
7     8  1051112_frontpage_story_5468137.utf8                 0.211901
8     9     1051112_nation_story_5468011.utf8                 0.208191
9    10     1051121_nation_story_5502034.utf8                 0.201926

query ID=  101

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1060603_frontpage_story_6305867.utf8                 0.227461
1     2  1060606_frontpage_story_6316278.utf8                 0.223576
2     3     1060604_nation_story_6309391.utf8                 0.220435
3     4  1060603_frontpage_story_6306133.utf8                 0.214538
4     5  1060607_frontpage_story_6320995.utf8                 0.207989
5     6  1060605_frontpage_story_6312263.utf8                 0.207785
6     7  1060604_frontpage_story_6309170.utf8                 0.206350
7     8  1060604_frontpage_story_6309060.utf8                 0.196724
8     9     1060606_nation_story_6316307.utf8                 0.191095
9    10     1060604_nation_story_6309387.utf8                 0.188417

query ID=  102

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1070214_sports_story_7390672.utf8                 0.402239
1     2     1070715_sports_story_8061122.utf8                 0.398656
2     3     1070217_sports_story_7403536.utf8                 0.388236
3     4     1070224_sports_story_7434948.utf8                 0.360421
4     5  1070302_frontpage_story_7460703.utf8                 0.352812
5     6     1070111_sports_story_7246956.utf8                 0.348492
6     7     1070225_sports_story_7438494.utf8                 0.334130
7     8     1070518_sports_story_7794912.utf8                 0.321161
8     9     1070215_sports_story_7396089.utf8                 0.314513
9    10     1070315_sports_story_7519611.utf8                 0.301569

query ID=  103

   RANK                        DOCUMENT NAME  cosine similarity score
0     1    1050105_nation_story_4212186.utf8                 0.293438
1     2    1050107_nation_story_4222879.utf8                 0.284912
2     3    1050112_nation_story_4243051.utf8                 0.260021
3     4    1050119_nation_story_4271375.utf8                 0.253272
4     5    1050108_nation_story_4226925.utf8                 0.232494
5     6   1050209_foreign_story_4355177.utf8                 0.230176
6     7  1070407_business_story_7617191.utf8                 0.219785
7     8    1050725_nation_story_5031112.utf8                 0.212880
8     9    1050130_nation_story_4314267.utf8                 0.208544
9    10  1050612_business_story_4857745.utf8                 0.206027

query ID=  104

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1060311_nation_story_5954497.utf8                 0.375185
1     2     1060323_nation_story_6002987.utf8                 0.299086
2     3     1060308_nation_story_5939546.utf8                 0.269773
3     4     1060308_nation_story_5939542.utf8                 0.254918
4     5     1060324_nation_story_6007603.utf8                 0.243804
5     6    1060322_opinion_story_5992733.utf8                 0.222006
6     7  1060322_frontpage_story_5998166.utf8                 0.209133
7     8  1060318_frontpage_story_5981561.utf8                 0.208152
8     9     1060426_nation_story_6146158.utf8                 0.207745
9    10     1060509_nation_story_6200870.utf8                 0.206106

query ID=  105

   RANK                         DOCUMENT NAME  cosine similarity score
0     1    1041206_foreign_story_4091833.utf8                 0.322027
1     2    1041227_foreign_story_4179189.utf8                 0.282195
2     3   1060203_business_story_5799396.utf8                 0.270824
3     4       1041219_look_story_4141264.utf8                 0.234257
4     5     1070215_nation_story_7395678.utf8                 0.204643
5     6     1050115_nation_story_4256947.utf8                 0.196268
6     7  1050823_frontpage_story_5145553.utf8                 0.190127
7     8     1070216_nation_story_7400285.utf8                 0.185243
8     9     1050805_nation_story_5076488.utf8                 0.171439
9    10     1050512_nation_story_4728376.utf8                 0.171108

query ID=  106

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1070814_nation_story_8190672.utf8                 0.237995
1     2     1050805_nation_story_5076503.utf8                 0.237286
2     3    1060104_opinion_story_5675819.utf8                 0.230190
3     4     1050802_sports_story_5063619.utf8                 0.212317
4     5     1070811_nation_story_8179235.utf8                 0.210239
5     6  1070810_frontpage_story_8175328.utf8                 0.187369
6     7    1060414_opinion_story_6095078.utf8                 0.181780
7     8    1050218_opinion_story_4386342.utf8                 0.180323
8     9     1050704_nation_story_4944660.utf8                 0.179205
9    10     1060602_nation_story_6301165.utf8                 0.175351

query ID=  107

   RANK                       DOCUMENT NAME  cosine similarity score
0     1   1070407_nation_story_7617335.utf8                 0.199137
1     2   1070509_nation_story_7752995.utf8                 0.195154
2     3   1070412_nation_story_7637981.utf8                 0.187631
3     4   1070406_nation_story_7613759.utf8                 0.186120
4     5   1070410_nation_story_7628468.utf8                 0.185852
5     6   1070408_nation_story_7620581.utf8                 0.184054
6     7   1070413_nation_story_7642117.utf8                 0.176793
7     8  1070412_opinion_story_7626594.utf8                 0.161720
8     9   1070420_nation_story_7671367.utf8                 0.161347
9    10   1070407_nation_story_7617227.utf8                 0.157310

query ID=  108

   RANK                         DOCUMENT NAME  cosine similarity score
0     1    1070202_foreign_story_7339415.utf8                 0.197729
1     2  1060513_frontpage_story_6218477.utf8                 0.190903
2     3    1051223_opinion_story_5633165.utf8                 0.185352
3     4    1041028_opinion_story_3920231.utf8                 0.177477
4     5    1041207_opinion_story_4093295.utf8                 0.173511
5     6     1060118_nation_story_5734877.utf8                 0.170390
6     7    1050713_opinion_story_4981003.utf8                 0.165063
7     8    1070802_opinion_story_8135631.utf8                 0.163831
8     9   1070613_business_story_7916239.utf8                 0.160781
9    10  1060402_frontpage_story_6046860.utf8                 0.158018

query ID=  109

   RANK                        DOCUMENT NAME  cosine similarity score
0     1    1051216_nation_story_5605895.utf8                 0.283048
1     2    1060103_nation_story_5673645.utf8                 0.272812
2     3    1050818_nation_story_5126655.utf8                 0.270700
3     4  1060612_business_story_6341079.utf8                 0.268555
4     5   1051203_opinion_story_5554758.utf8                 0.265091
5     6    1051127_nation_story_5527388.utf8                 0.263166
6     7    1060116_nation_story_5725038.utf8                 0.261028
7     8  1070504_business_story_7732253.utf8                 0.260804
8     9    1051128_nation_story_5530281.utf8                 0.251712
9    10    1051219_nation_story_5618307.utf8                 0.249772

query ID=  110

   RANK                         DOCUMENT NAME  cosine similarity score
0     1   1051227_business_story_5649030.utf8                 0.389645
1     2     1050928_nation_story_5293658.utf8                 0.382059
2     3     1060620_nation_story_6375357.utf8                 0.370252
3     4     1050512_bengal_story_4728585.utf8                 0.341216
4     5    1060621_opinion_story_6377359.utf8                 0.330419
5     6     1050923_nation_story_5275140.utf8                 0.305955
6     7     1060707_nation_story_6447577.utf8                 0.281405
7     8   1061014_business_story_6869702.utf8                 0.276999
8     9  1060715_frontpage_story_6481480.utf8                 0.275608
9    10   1050606_business_story_4832404.utf8                 0.269862

query ID=  111

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1060413_nation_story_6093542.utf8                 0.511716
1     2     1060414_nation_story_6097270.utf8                 0.491731
2     3     1050817_nation_story_5121698.utf8                 0.470789
3     4     1050331_nation_story_4555290.utf8                 0.464167
4     5     1050414_nation_story_4612585.utf8                 0.438934
5     6     1050606_nation_story_4832860.utf8                 0.426873
6     7     1050826_nation_story_5158651.utf8                 0.415664
7     8  1050826_frontpage_story_5159316.utf8                 0.415397
8     9     1050413_nation_story_4609077.utf8                 0.413010
9    10     1050810_nation_story_5096115.utf8                 0.411867

query ID=  112

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1050202_nation_story_4325616.utf8                 0.272103
1     2     1050418_nation_story_4628690.utf8                 0.258639
2     3  1050719_frontpage_story_5008513.utf8                 0.258497
3     4     1050405_nation_story_4575980.utf8                 0.233546
4     5     1050223_nation_story_4412606.utf8                 0.224459
5     6              1061123_calcutta_tv.utf8                 0.223639
6     7              1061124_calcutta_tv.utf8                 0.223639
7     8              1061125_calcutta_tv.utf8                 0.223639
8     9              1061126_calcutta_tv.utf8                 0.223639
9    10              1061127_calcutta_tv.utf8                 0.223639

query ID=  113

   RANK                        DOCUMENT NAME  cosine similarity score
0     1   1061126_foreign_story_7052195.utf8                 0.307747
1     2    1070815_nation_story_8195795.utf8                 0.289717
2     3   1060629_foreign_story_6413896.utf8                 0.241701
3     4   1061011_foreign_story_6855749.utf8                 0.239509
4     5   1060613_foreign_story_6345301.utf8                 0.238449
5     6    1070521_nation_story_7807710.utf8                 0.228267
6     7   1061204_foreign_story_7088474.utf8                 0.218059
7     8   1050207_foreign_story_4346977.utf8                 0.209931
8     9   1061115_foreign_story_7002790.utf8                 0.209068
9    10  1061101_calcutta_story_6940956.utf8                 0.202324

query ID=  114

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1050420_frontpage_story_4637476.utf8                 0.294676
1     2     1050607_nation_story_4836754.utf8                 0.294014
2     3     1050421_nation_story_4642129.utf8                 0.264734
3     4  1050423_frontpage_story_4651456.utf8                 0.263269
4     5  1050421_frontpage_story_4642068.utf8                 0.221898
5     6     1050422_nation_story_4645493.utf8                 0.217161
6     7     1040902_nation_story_3706767.utf8                 0.209032
7     8   1050308_business_story_4466289.utf8                 0.204937
8     9  1050422_frontpage_story_4646612.utf8                 0.198323
9    10     1051020_nation_story_5376557.utf8                 0.178015

query ID=  115

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1060720_nation_story_6498800.utf8                 0.282380
1     2     1051116_sports_story_5482400.utf8                 0.278773
2     3  1060308_frontpage_story_5941755.utf8                 0.271872
3     4  1060909_frontpage_story_6722632.utf8                 0.265254
4     5  1050818_frontpage_story_5126594.utf8                 0.257540
5     6     1060909_nation_story_6721388.utf8                 0.255329
6     7     1060721_nation_story_6505353.utf8                 0.252306
7     8     1060724_nation_story_6515892.utf8                 0.249921
8     9  1060930_frontpage_story_6812637.utf8                 0.249148
9    10    1051004_foreign_story_5317626.utf8                 0.247747

query ID=  116

   RANK                       DOCUMENT NAME  cosine similarity score
0     1   1060421_nation_story_6126861.utf8                 0.341676
1     2   1060123_nation_story_5754114.utf8                 0.303484
2     3   1060218_nation_story_5862838.utf8                 0.294655
3     4   1060221_nation_story_5873931.utf8                 0.289024
4     5   1060203_nation_story_5798365.utf8                 0.284806
5     6   1060122_nation_story_5751717.utf8                 0.279903
6     7   1060126_nation_story_5768230.utf8                 0.266025
7     8   1060307_nation_story_5935593.utf8                 0.262320
8     9  1060128_opinion_story_5775492.utf8                 0.256827
9    10   1060121_nation_story_5748791.utf8                 0.251240

query ID=  117

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1060112_nation_story_5711093.utf8                 0.519048
1     2  1060111_frontpage_story_5706744.utf8                 0.300487
2     3     1060113_nation_story_5715690.utf8                 0.272175
3     4   1070524_business_story_7821269.utf8                 0.182601
4     5  1050607_frontpage_story_4836962.utf8                 0.176256
5     6     1051206_nation_story_5564897.utf8                 0.170819
6     7     1070512_bengal_story_7767362.utf8                 0.170755
7     8     1060104_nation_story_5679057.utf8                 0.168964
8     9  1060329_frontpage_story_6028526.utf8                 0.167098
9    10     1060112_nation_story_5711094.utf8                 0.162346

query ID=  118

   RANK                        DOCUMENT NAME  cosine similarity score
0     1  1060810_calcutta_story_6554869.utf8                 0.342540
1     2    1051229_nation_story_5657738.utf8                 0.298451
2     3  1060830_calcutta_story_6663465.utf8                 0.293149
3     4  1060726_calcutta_story_6521941.utf8                 0.260580
4     5    1060712_nation_story_6467796.utf8                 0.259180
5     6   1050711_opinion_story_4957028.utf8                 0.259034
6     7    1070727_nation_story_8112080.utf8                 0.252301
7     8   1050722_foreign_story_5020326.utf8                 0.251273
8     9    1050706_nation_story_4955492.utf8                 0.244294
9    10    1050706_nation_story_4955838.utf8                 0.230804

query ID=  119

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1050609_nation_story_4843677.utf8                 0.379635
1     2  1050714_frontpage_story_4988276.utf8                 0.366543
2     3     1050813_nation_story_5108420.utf8                 0.355281
3     4    1050715_opinion_story_4989948.utf8                 0.345604
4     5     1051206_nation_story_5564020.utf8                 0.329117
5     6     1050720_nation_story_5010221.utf8                 0.312166
6     7    1050718_opinion_story_4994184.utf8                 0.299516
7     8     1050714_nation_story_4988361.utf8                 0.296708
8     9     1050715_nation_story_4992987.utf8                 0.284305
9    10     1050626_nation_story_4916180.utf8                 0.270981

query ID=  120

   RANK                           DOCUMENT NAME  cosine similarity score
0     1       1050209_nation_story_4356065.utf8                 0.295378
1     2       1050210_nation_story_4359510.utf8                 0.261851
2     3       1050106_nation_story_4218937.utf8                 0.257248
3     4      1050718_opinion_story_4989517.utf8                 0.254799
4     5       1060907_nation_story_6711047.utf8                 0.250853
5     6       1050624_nation_story_4908599.utf8                 0.242694
6     7       1060429_nation_story_6159005.utf8                 0.229916
7     8  1041229_careergraph_story_4188665.utf8                 0.228890
8     9       1070623_nation_story_7962389.utf8                 0.219183
9    10       1051109_nation_story_5453676.utf8                 0.216132

query ID=  121

   RANK                         DOCUMENT NAME  cosine similarity score
0     1    1050217_foreign_story_4389569.utf8                 0.281960
1     2     1041030_nation_story_3943296.utf8                 0.280680
2     3    1051212_foreign_story_5589904.utf8                 0.274411
3     4  1050713_frontpage_story_4983946.utf8                 0.271474
4     5   1041028_calcutta_story_3932500.utf8                 0.271413
5     6     1050614_nation_story_4865291.utf8                 0.270886
6     7     1070220_nation_story_7414442.utf8                 0.263338
7     8  1050729_frontpage_story_5048620.utf8                 0.260884
8     9  1070902_frontpage_story_8265469.utf8                 0.256187
9    10     1070902_nation_story_8265455.utf8                 0.254555

query ID=  122

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1060619_nation_story_6370018.utf8                 0.339574
1     2     1051031_bengal_story_5420420.utf8                 0.287709
2     3     1060421_nation_story_6126730.utf8                 0.256798
3     4     1061219_nation_story_7157321.utf8                 0.252014
4     5   1070807_calcutta_story_8157942.utf8                 0.248602
5     6     1070111_nation_story_7246749.utf8                 0.240039
6     7     1050914_bengal_story_5236034.utf8                 0.238777
7     8     1051124_bengal_story_5515971.utf8                 0.232832
8     9   1060501_calcutta_story_6165288.utf8                 0.220919
9    10  1070821_frontpage_story_8217727.utf8                 0.218988

query ID=  123

   RANK                         DOCUMENT NAME  cosine similarity score
0     1    1070608_opinion_story_7891152.utf8                 0.272764
1     2     1050116_bengal_story_4259941.utf8                 0.268012
2     3  1051221_frontpage_story_5627402.utf8                 0.266925
3     4     1050128_nation_story_4305602.utf8                 0.231268
4     5     1060401_nation_story_6041679.utf8                 0.221690
5     6    1050304_foreign_story_4452390.utf8                 0.211465
6     7    1061115_opinion_story_6979498.utf8                 0.200576
7     8     1041112_nation_story_3995294.utf8                 0.199196
8     9    1041208_opinion_story_4086626.utf8                 0.196514
9    10     1060717_nation_story_6488521.utf8                 0.194504

query ID=  124

   RANK                        DOCUMENT NAME  cosine similarity score
0     1   1040905_opinion_story_3718881.utf8                 0.305297
1     2   1050323_opinion_story_4467789.utf8                 0.301433
2     3   1060117_opinion_story_5727653.utf8                 0.252344
3     4    1060612_nation_story_6340989.utf8                 0.250155
4     5  1040918_business_story_3772991.utf8                 0.249002
5     6  1060316_business_story_5971953.utf8                 0.235934
6     7  1060607_business_story_6320638.utf8                 0.233262
7     8  1060818_business_story_6624384.utf8                 0.231323
8     9    1060212_nation_story_5836521.utf8                 0.227401
9    10    1050217_nation_story_4389677.utf8                 0.224701

query ID=  125

   RANK                       DOCUMENT NAME  cosine similarity score
0     1  1070705_foreign_story_8019084.utf8                 0.253414
1     2  1070716_foreign_story_8064283.utf8                 0.247723
2     3  1070728_foreign_story_8117144.utf8                 0.246932
3     4  1070705_foreign_story_8019086.utf8                 0.244387
4     5  1070822_foreign_story_8222596.utf8                 0.243082
5     6  1070729_foreign_story_8120955.utf8                 0.236545
6     7  1070630_foreign_story_7995955.utf8                 0.234654
7     8  1070726_foreign_story_8108245.utf8                 0.228282
8     9  1070806_foreign_story_8155233.utf8                 0.217813
9    10  1070521_foreign_story_7806832.utf8                 0.215072

#MAP ROCCHIO + EXPANSION

In [ ]:
print("map for tfidf +  rocchio + query expansion = ",map)

map for tfidf +  rocchio + query expansion =  0.40399999999999997

#**Using Word2Vec**

In [ ]:
#del term_doc_matrix
# upgrade and install gensim
!pip install --upgrade gensim
from gensim.models import Word2Vec

Collecting gensim
  Downloading https://files.pythonhosted.org/packages/5c/4e/afe2315e08a38967f8a3036bbe7e38b428e9b7a90e823a83d0d49df1adf5/gensim-3.8.3-cp37-cp37m-manylinux1_x86_64.whl (24.2MB)
     || 24.2MB 1.6MB/s
Requirement already satisfied, skipping upgrade: smart-open>=1.8.1 in /usr/local/lib/python3.7/dist-packages (from gensim) (4.2.0)
Requirement already satisfied, skipping upgrade: numpy>=1.11.3 in /usr/local/lib/python3.7/dist-packages (from gensim) (1.19.5)
Requirement already satisfied, skipping upgrade: scipy>=0.18.1 in /usr/local/lib/python3.7/dist-packages (from gensim) (1.4.1)
Requirement already satisfied, skipping upgrade: six>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from gensim) (1.15.0)
Installing collected packages: gensim
  Found existing installation: gensim 3.6.0
    Uninstalling gensim-3.6.0:
      Successfully uninstalled gensim-3.6.0
Successfully installed gensim-3.8.3

In [ ]:
# train CBOW model using corpus text tokens
CBOW_model = Word2Vec(sentences=data_preprocessed, size=350, window=10, min_count=1, workers=4, sg=0, hs=1, negative=0, iter=5)

In [ ]:
# save CBOW model in the desk for future use
with open("/content/drive/MyDrive/Assignment6/CBOW_model", "wb") as fp:   #Pickling
    pickle.dump(CBOW_model, fp)

In [ ]:
# load CBOW model from the disk
with open('/content/drive/MyDrive/Assignment6/CBOW_model','rb') as file:
  CBOW_model = pickle.load(file)

In [ ]:
VECTOR_MATRIX = np.zeros((len(data_preprocessed),350))
#query_array = []
count = 0
for i in data_preprocessed:
  temp = np.zeros((350))
  for j in i:
      temp = temp + CBOW_model[j]
  VECTOR_MATRIX[count,:] = temp
  count = count + 1 
print("length of document array:",len(VECTOR_MATRIX))
'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).
  import sys

length of document array: 125516

'\n#query array\nfor i in QUERY_GENERATOR:\n  temp = np.zeros((350,),dtype=float)\n  for j in i:\n      try:\n        temp = temp + CBOW_model[j]\n      except:\n        continue\n  query_array.append(temp)\nprint("length of query array:",len(query_array))\n'

In [ ]:
# save vector_matrix model in the disk for future use
with open("/content/drive/MyDrive/Assignment6/VECTOR_MATRIX", "wb") as fp:   #Pickling
    pickle.dump(VECTOR_MATRIX, fp)

#**Q5 WORD2VEC + ROCCHIO**

transforming query using cbow model

In [ ]:
#query array
query_array = list() 
for i in QUERY_GENERATOR:
  temp = np.zeros((350))
  for j in i:
      try:
        temp = temp + CBOW_model[j]
      except:
        continue
  query_array.append(temp)
print("length of query array:",len(query_array))

length of query array: 50

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).
  import sys

fetching modified rocchio query

In [ ]:

modified_transformed_query = rocchio(query_array,VECTOR_MATRIX)

calculating map for the system

In [ ]:
map = calculate_map(modified_transformed_query,VECTOR_MATRIX)
print(map)

query ID=  76

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1070530_nation_story_7849973.utf8                 0.868863
1     2     1070603_nation_story_7869357.utf8                 0.845879
2     3     1070611_nation_story_7906812.utf8                 0.807640
3     4  1070531_frontpage_story_7855182.utf8                 0.776296
4     5  1070604_frontpage_story_7872841.utf8                 0.769010
5     6    1070531_opinion_story_7852019.utf8                 0.765815
6     7     1070625_nation_story_7970372.utf8                 0.759816
7     8     1070605_nation_story_7877641.utf8                 0.758689
8     9     1070602_nation_story_7865940.utf8                 0.747541
9    10  1070605_frontpage_story_7877876.utf8                 0.746485

query ID=  77

   RANK                       DOCUMENT NAME  cosine similarity score
0     1  1060720_foreign_story_6501311.utf8                 0.966242
1     2  1060718_foreign_story_6491617.utf8                 0.964281
2     3  1060814_foreign_story_6609200.utf8                 0.963425
3     4  1060806_foreign_story_6575214.utf8                 0.962531
4     5  1060719_foreign_story_6496938.utf8                 0.960623
5     6  1060717_foreign_story_6488684.utf8                 0.958491
6     7  1060716_foreign_story_6485226.utf8                 0.956812
7     8  1060715_foreign_story_6482002.utf8                 0.954693
8     9  1060714_foreign_story_6477224.utf8                 0.952724
9    10  1060803_foreign_story_6562281.utf8                 0.945499

query ID=  78

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1050709_nation_story_4968974.utf8                 0.883455
1     2     1070918_nation_story_8329881.utf8                 0.874164
2     3     1041102_nation_story_3954724.utf8                 0.871499
3     4     1041102_nation_story_3954727.utf8                 0.867249
4     5     1050616_nation_story_4874434.utf8                 0.864025
5     6     1050615_nation_story_4869956.utf8                 0.858247
6     7     1051029_nation_story_5412523.utf8                 0.857003
7     8  1050706_frontpage_story_4956060.utf8                 0.854578
8     9     1060312_nation_story_5958120.utf8                 0.851909
9    10     1050608_nation_story_4840940.utf8                 0.839590

query ID=  79

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1070621_nation_story_7952530.utf8                 0.859941
1     2  1070621_frontpage_story_7952567.utf8                 0.723530
2     3     1060902_nation_story_6690181.utf8                 0.703077
3     4     1061121_nation_story_7029464.utf8                 0.694347
4     5    1061101_opinion_story_6910738.utf8                 0.671963
5     6     1060630_nation_story_6418918.utf8                 0.649206
6     7     1070416_bengal_story_7653236.utf8                 0.640940
7     8  1070602_frontpage_story_7865820.utf8                 0.632955
8     9    1060715_opinion_story_6478169.utf8                 0.631219
9    10    1070515_foreign_story_7779474.utf8                 0.627064

query ID=  80

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1070323_nation_story_7555002.utf8                 0.934350
1     2  1041103_frontpage_story_3959012.utf8                 0.931979
2     3     1041220_nation_story_4151396.utf8                 0.915221
3     4     1050916_nation_story_5245081.utf8                 0.905280
4     5     1050707_nation_story_4959905.utf8                 0.894404
5     6  1041223_frontpage_story_4163563.utf8                 0.842924
6     7     1050729_nation_story_5048357.utf8                 0.834369
7     8     1040905_nation_story_3720287.utf8                 0.771669
8     9     1040904_nation_story_3716054.utf8                 0.771403
9    10     1070110_nation_story_7242513.utf8                 0.771396

query ID=  81

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1060822_nation_story_6641118.utf8                 0.952357
1     2  1060821_frontpage_story_6636584.utf8                 0.949505
2     3     1060726_nation_story_6526490.utf8                 0.939292
3     4     1051218_nation_story_5615385.utf8                 0.919615
4     5  1070714_frontpage_story_8058219.utf8                 0.869951
5     6     1050808_nation_story_5087323.utf8                 0.866032
6     7     1051221_nation_story_5626558.utf8                 0.844577
7     8     1041007_nation_story_3851528.utf8                 0.837007
8     9     1070728_nation_story_8118395.utf8                 0.830831
9    10     1070412_nation_story_7637872.utf8                 0.826230

query ID=  82

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1050406_frontpage_story_4580486.utf8                 0.897515
1     2     1050404_nation_story_4571567.utf8                 0.887889
2     3  1050421_frontpage_story_4642066.utf8                 0.879444
3     4     1050330_nation_story_4551477.utf8                 0.868719
4     5     1050417_nation_story_4625341.utf8                 0.864139
5     6     1050331_nation_story_4554929.utf8                 0.854197
6     7     1050403_nation_story_4567699.utf8                 0.850284
7     8     1050617_nation_story_4879057.utf8                 0.844577
8     9  1050314_frontpage_story_4490673.utf8                 0.842448
9    10     1050407_nation_story_4584906.utf8                 0.841411

query ID=  83

   RANK                       DOCUMENT NAME  cosine similarity score
0     1   1051024_nation_story_5387050.utf8                 0.947129
1     2   1050204_nation_story_4334886.utf8                 0.934280
2     3  1050116_opinion_story_4260633.utf8                 0.932042
3     4   1050220_nation_story_4401588.utf8                 0.926960
4     5   1041022_nation_story_3913967.utf8                 0.925579
5     6   1050228_nation_story_4434475.utf8                 0.920380
6     7   1050224_nation_story_4417806.utf8                 0.918352
7     8   1050203_nation_story_4329371.utf8                 0.916098
8     9  1050303_opinion_story_4442112.utf8                 0.912512
9    10   1050208_nation_story_4351773.utf8                 0.909530

query ID=  84

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1060104_frontpage_story_5679195.utf8                 0.926810
1     2     1060105_nation_story_5682584.utf8                 0.899628
2     3     1060108_nation_story_5695226.utf8                 0.822111
3     4  1061223_frontpage_story_7175502.utf8                 0.735482
4     5  1060106_frontpage_story_5687482.utf8                 0.731668
5     6    1060109_opinion_story_5680042.utf8                 0.705437
6     7     1060112_nation_story_5710721.utf8                 0.657939
7     8     1060108_nation_story_5695230.utf8                 0.622253
8     9     1060407_nation_story_6068164.utf8                 0.560521
9    10     1050719_nation_story_5006712.utf8                 0.558122

query ID=  85

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1051112_frontpage_story_5468138.utf8                 0.914485
1     2  1051122_frontpage_story_5506658.utf8                 0.912361
2     3     1060308_nation_story_5940109.utf8                 0.908909
3     4  1051218_frontpage_story_5615388.utf8                 0.908651
4     5  1051114_frontpage_story_5474333.utf8                 0.900941
5     6     1051208_nation_story_5573594.utf8                 0.900307
6     7     1060614_nation_story_6351073.utf8                 0.894748
7     8     1060113_nation_story_5715683.utf8                 0.893274
8     9     1051120_nation_story_5499250.utf8                 0.892020
9    10     1051113_nation_story_5471121.utf8                 0.890480

query ID=  86

   RANK                         DOCUMENT NAME  cosine similarity score
0     1   1060318_business_story_5980169.utf8                 0.871917
1     2   1041213_business_story_4121475.utf8                 0.861598
2     3   1050719_business_story_5007230.utf8                 0.853520
3     4   1060124_business_story_5759276.utf8                 0.852728
4     5   1060609_business_story_6330097.utf8                 0.852431
5     6   1060917_business_story_6756779.utf8                 0.848652
6     7   1041211_business_story_4114567.utf8                 0.839950
7     8  1070222_frontpage_story_7425910.utf8                 0.836766
8     9   1050910_business_story_5220819.utf8                 0.833503
9    10   1050915_business_story_5240849.utf8                 0.832362

query ID=  87

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1050418_frontpage_story_4629069.utf8                 0.902563
1     2     1050919_nation_story_5256797.utf8                 0.900018
2     3     1051004_nation_story_5317408.utf8                 0.897016
3     4     1050916_nation_story_5245671.utf8                 0.894819
4     5  1070113_frontpage_story_7255885.utf8                 0.891474
5     6     1050505_nation_story_4699253.utf8                 0.886869
6     7    1060110_opinion_story_5699264.utf8                 0.886060
7     8     1041121_nation_story_4030333.utf8                 0.885733
8     9     1041125_nation_story_4046826.utf8                 0.884430
9    10  1051005_frontpage_story_5321640.utf8                 0.881478

query ID=  88

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1041113_frontpage_story_3999431.utf8                 0.896868
1     2     1041118_nation_story_4017603.utf8                 0.893477
2     3  1050119_frontpage_story_4271305.utf8                 0.893242
3     4     1050117_nation_story_4263155.utf8                 0.887502
4     5     1050112_nation_story_4242953.utf8                 0.887208
5     6     1050114_nation_story_4252184.utf8                 0.880087
6     7     1041117_nation_story_4013313.utf8                 0.879519
7     8     1041204_nation_story_4084529.utf8                 0.878628
8     9     1041124_nation_story_4041679.utf8                 0.874726
9    10     1041127_nation_story_4055819.utf8                 0.872306

query ID=  89

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1051101_nation_story_5424089.utf8                 0.892572
1     2     1060815_nation_story_6614253.utf8                 0.887968
2     3  1060804_frontpage_story_6566731.utf8                 0.882119
3     4     1051212_nation_story_5588977.utf8                 0.875342
4     5  1051105_frontpage_story_5439522.utf8                 0.868402
5     6     1060808_nation_story_6583428.utf8                 0.867458
6     7  1051105_frontpage_story_5439520.utf8                 0.866289
7     8     1060502_nation_story_6171218.utf8                 0.860005
8     9     1051203_nation_story_5554013.utf8                 0.853499
9    10  1060805_frontpage_story_6571534.utf8                 0.848943

query ID=  90

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1040917_frontpage_story_3769177.utf8                 0.906140
1     2  1051029_frontpage_story_5413540.utf8                 0.905569
2     3  1040918_frontpage_story_3773201.utf8                 0.903587
3     4     1040915_nation_story_3759556.utf8                 0.889484
4     5     1050819_nation_story_5131201.utf8                 0.860317
5     6     1070524_nation_story_7821882.utf8                 0.855696
6     7     1060907_bengal_story_6711204.utf8                 0.854509
7     8    1051031_opinion_story_5418889.utf8                 0.844997
8     9     1050623_nation_story_4904606.utf8                 0.843389
9    10     1040914_nation_story_3755583.utf8                 0.841811

query ID=  91

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1070624_nation_story_7966280.utf8                 0.863196
1     2     1070630_nation_story_7996611.utf8                 0.830489
2     3     1070703_nation_story_8008353.utf8                 0.805806
3     4     1070629_nation_story_7990990.utf8                 0.786120
4     5     1070701_nation_story_7999619.utf8                 0.768582
5     6  1070623_frontpage_story_7962801.utf8                 0.750339
6     7    1070629_opinion_story_7987432.utf8                 0.743589
7     8    1070702_opinion_story_7992688.utf8                 0.720436
8     9  1070627_frontpage_story_7980182.utf8                 0.717827
9    10     1070624_nation_story_7966282.utf8                 0.713534

query ID=  92

   RANK                       DOCUMENT NAME  cosine similarity score
0     1  1060118_foreign_story_5734603.utf8                 0.923201
1     2  1060523_foreign_story_6258616.utf8                 0.909249
2     3  1060911_foreign_story_6729452.utf8                 0.908335
3     4  1051222_foreign_story_5631245.utf8                 0.907947
4     5  1051228_foreign_story_5653170.utf8                 0.907318
5     6  1070328_foreign_story_7575109.utf8                 0.906549
6     7  1061001_foreign_story_6815921.utf8                 0.906397
7     8  1051231_foreign_story_5665030.utf8                 0.904491
8     9  1060529_foreign_story_6283160.utf8                 0.900715
9    10  1070403_foreign_story_7599402.utf8                 0.894290

query ID=  93

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1070424_nation_story_7689072.utf8                 0.881435
1     2  1051224_frontpage_story_5640208.utf8                 0.876264
2     3     1051213_nation_story_5594011.utf8                 0.874183
3     4  1051213_frontpage_story_5593956.utf8                 0.861210
4     5     1060316_nation_story_5971892.utf8                 0.860749
5     6  1051223_frontpage_story_5635635.utf8                 0.858301
6     7  1051215_frontpage_story_5603154.utf8                 0.855108
7     8  1051214_frontpage_story_5598101.utf8                 0.844471
8     9     1060111_nation_story_5706272.utf8                 0.838679
9    10     1051214_nation_story_5598234.utf8                 0.836296

query ID=  94

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1060407_frontpage_story_6068877.utf8                 0.887077
1     2     1060704_nation_story_6435206.utf8                 0.884960
2     3     1060502_nation_story_6171060.utf8                 0.870210
3     4     1060429_nation_story_6160546.utf8                 0.863365
4     5     1060722_nation_story_6510631.utf8                 0.859006
5     6     1060624_nation_story_6394559.utf8                 0.840836
6     7     1060220_nation_story_5869738.utf8                 0.833544
7     8     1070411_nation_story_7633126.utf8                 0.820411
8     9     1050930_nation_story_5302148.utf8                 0.806913
9    10     1051029_nation_story_5413024.utf8                 0.801345

query ID=  95

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1070130_nation_story_7325094.utf8                 0.931324
1     2  1070119_frontpage_story_7282977.utf8                 0.914957
2     3     1070122_nation_story_7292962.utf8                 0.913855
3     4     1070129_nation_story_7319522.utf8                 0.899126
4     5     1070121_nation_story_7290431.utf8                 0.889230
5     6     1070117_nation_story_7272982.utf8                 0.873906
6     7     1070118_nation_story_7277918.utf8                 0.864540
7     8     1070113_nation_story_7255901.utf8                 0.850500
8     9     1070111_nation_story_7247455.utf8                 0.849305
9    10    1070106_foreign_story_7226341.utf8                 0.847746

query ID=  96

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1060615_nation_story_6355137.utf8                 0.895901
1     2     1070411_nation_story_7632503.utf8                 0.866495
2     3     1070124_nation_story_7301639.utf8                 0.846327
3     4     1060608_nation_story_6325656.utf8                 0.829524
4     5     1060614_nation_story_6350276.utf8                 0.811878
5     6     1070412_nation_story_7637210.utf8                 0.806593
6     7     1060715_nation_story_6481976.utf8                 0.806385
7     8  1060424_frontpage_story_6137474.utf8                 0.793261
8     9     1070413_nation_story_7641691.utf8                 0.790142
9    10  1060429_frontpage_story_6160596.utf8                 0.787178

query ID=  97

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1041216_frontpage_story_4135458.utf8                 0.919761
1     2  1041123_frontpage_story_4038891.utf8                 0.912773
2     3  1050619_frontpage_story_4887525.utf8                 0.908642
3     4  1041119_frontpage_story_4022900.utf8                 0.905259
4     5   1060208_business_story_5818982.utf8                 0.900994
5     6   1050628_business_story_4923656.utf8                 0.900910
6     7  1041224_frontpage_story_4169043.utf8                 0.898557
7     8   1050111_business_story_4238841.utf8                 0.891006
8     9   1041225_business_story_4172881.utf8                 0.890345
9    10  1050504_frontpage_story_4693562.utf8                 0.886979

query ID=  98

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1070526_nation_story_7830524.utf8                 0.876780
1     2     1061118_nation_story_7019028.utf8                 0.853524
2     3     1061115_nation_story_7003933.utf8                 0.849398
3     4     1061114_nation_story_6998353.utf8                 0.845966
4     5  1070528_frontpage_story_7838904.utf8                 0.838474
5     6     1050331_nation_story_4555559.utf8                 0.809110
6     7     1050402_nation_story_4564877.utf8                 0.801556
7     8    1061128_opinion_story_7057811.utf8                 0.790664
8     9     1070119_nation_story_7281357.utf8                 0.790013
9    10    1050408_opinion_story_4586091.utf8                 0.778357

query ID=  99

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1041208_nation_story_4100626.utf8                 0.895152
1     2     1061219_nation_story_7157548.utf8                 0.879363
2     3     1061219_nation_story_7157553.utf8                 0.877063
3     4     1050223_nation_story_4413219.utf8                 0.869734
4     5  1041002_frontpage_story_3831916.utf8                 0.859056
5     6     1051020_nation_story_5375833.utf8                 0.858018
6     7     1070921_nation_story_8343208.utf8                 0.842349
7     8     1040918_nation_story_3773413.utf8                 0.840302
8     9  1051203_frontpage_story_5554012.utf8                 0.839696
9    10  1070323_frontpage_story_7553425.utf8                 0.839534

query ID=  100

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1051112_frontpage_story_5468137.utf8                 0.909477
1     2  1041107_frontpage_story_3975998.utf8                 0.908470
2     3     1041110_nation_story_3987208.utf8                 0.907493
3     4     1051120_nation_story_5499251.utf8                 0.898684
4     5     1051115_nation_story_5478696.utf8                 0.895340
5     6     1061001_nation_story_6815631.utf8                 0.891667
6     7     1050227_nation_story_4430335.utf8                 0.887159
7     8  1051123_frontpage_story_5511154.utf8                 0.886628
8     9     1051123_nation_story_5511465.utf8                 0.883884
9    10     1051112_nation_story_5468011.utf8                 0.880171

query ID=  101

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1060603_frontpage_story_6305867.utf8                 0.895277
1     2  1060603_frontpage_story_6306133.utf8                 0.892795
2     3     1060604_nation_story_6309391.utf8                 0.889438
3     4  1060604_frontpage_story_6309060.utf8                 0.882821
4     5  1060603_frontpage_story_6305862.utf8                 0.856926
5     6     1060615_nation_story_6355149.utf8                 0.852291
6     7     1060615_nation_story_6355137.utf8                 0.846824
7     8    1061125_opinion_story_7047966.utf8                 0.845607
8     9     1060603_nation_story_6305903.utf8                 0.839505
9    10  1060605_frontpage_story_6312263.utf8                 0.830782

query ID=  102

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1061103_sports_story_6953702.utf8                 0.909724
1     2     1061103_sports_story_6953704.utf8                 0.899729
2     3     1061206_sports_story_7100581.utf8                 0.892434
3     4     1070805_sports_story_8151812.utf8                 0.890479
4     5     1061102_sports_story_6948876.utf8                 0.888664
5     6     1070214_sports_story_7390672.utf8                 0.883609
6     7  1070302_frontpage_story_7460703.utf8                 0.882837
7     8     1061103_sports_story_6953700.utf8                 0.879843
8     9     1061028_sports_story_6927220.utf8                 0.875916
9    10     1061109_sports_story_6978231.utf8                 0.875515

query ID=  103

   RANK                       DOCUMENT NAME  cosine similarity score
0     1   1050112_nation_story_4243051.utf8                 0.926406
1     2   1050107_nation_story_4222879.utf8                 0.922765
2     3   1050119_nation_story_4271375.utf8                 0.905572
3     4   1070213_nation_story_7386151.utf8                 0.900406
4     5   1050105_nation_story_4212186.utf8                 0.898164
5     6   1050108_nation_story_4226925.utf8                 0.877249
6     7  1050209_foreign_story_4355177.utf8                 0.858169
7     8   1050201_nation_story_4321003.utf8                 0.857330
8     9  1050512_foreign_story_4729406.utf8                 0.852131
9    10   1050130_nation_story_4314267.utf8                 0.851149

query ID=  104

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1060311_nation_story_5954497.utf8                 0.902419
1     2  1060318_frontpage_story_5981561.utf8                 0.894822
2     3  1060307_frontpage_story_5936287.utf8                 0.887867
3     4     1060525_nation_story_6266147.utf8                 0.872531
4     5     1060308_nation_story_5939546.utf8                 0.852407
5     6     1060402_nation_story_6046363.utf8                 0.821385
6     7     1060602_nation_story_6301506.utf8                 0.810236
7     8     1060324_nation_story_6007742.utf8                 0.803357
8     9     1060310_nation_story_5949924.utf8                 0.797088
9    10     1060426_nation_story_6146158.utf8                 0.795882

query ID=  105

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1050823_frontpage_story_5145553.utf8                 0.899880
1     2     1050115_nation_story_4256947.utf8                 0.872168
2     3     1070606_nation_story_7882722.utf8                 0.860057
3     4     1050315_nation_story_4494613.utf8                 0.856823
4     5     1061128_nation_story_7060323.utf8                 0.836145
5     6    1070607_opinion_story_7886004.utf8                 0.829869
6     7     1070515_nation_story_7779278.utf8                 0.825559
7     8     1050512_nation_story_4728376.utf8                 0.822063
8     9     1041025_nation_story_3921602.utf8                 0.821686
9    10     1070216_nation_story_7400285.utf8                 0.812499

query ID=  106

   RANK                         DOCUMENT NAME  cosine similarity score
0     1    1070820_opinion_story_8184577.utf8                 0.864794
1     2     1070814_nation_story_8190672.utf8                 0.799522
2     3     1070811_nation_story_8179235.utf8                 0.761993
3     4  1070810_frontpage_story_8175328.utf8                 0.743658
4     5    1070624_opinion_story_7960120.utf8                 0.736430
5     6     1070812_nation_story_8182834.utf8                 0.732189
6     7    1050402_opinion_story_4562000.utf8                 0.689674
7     8  1041227_atleisure_story_4179435.utf8                 0.674613
8     9    1060519_opinion_story_6230366.utf8                 0.672349
9    10    1060207_opinion_story_5811776.utf8                 0.669710

query ID=  107

   RANK                       DOCUMENT NAME  cosine similarity score
0     1   1070406_nation_story_7613759.utf8                 0.902591
1     2   1070509_nation_story_7752995.utf8                 0.895123
2     3   1070410_nation_story_7628468.utf8                 0.890399
3     4   1070407_nation_story_7617335.utf8                 0.885413
4     5   1070412_nation_story_7637981.utf8                 0.866920
5     6   1070413_nation_story_7642117.utf8                 0.863696
6     7   1070412_nation_story_7637987.utf8                 0.858010
7     8   1070409_nation_story_7622846.utf8                 0.851997
8     9   1070407_nation_story_7617227.utf8                 0.825355
9    10  1070412_opinion_story_7626594.utf8                 0.808950

query ID=  108

   RANK                         DOCUMENT NAME  cosine similarity score
0     1    1041028_opinion_story_3920231.utf8                 0.912118
1     2    1050802_opinion_story_5061056.utf8                 0.907231
2     3    1041026_opinion_story_3923489.utf8                 0.905561
3     4    1050411_opinion_story_4598507.utf8                 0.904032
4     5    1070118_opinion_story_7253319.utf8                 0.896694
5     6  1060402_frontpage_story_6046860.utf8                 0.888263
6     7  1070106_frontpage_story_7226972.utf8                 0.886428
7     8    1070110_opinion_story_7239918.utf8                 0.884070
8     9    1060202_opinion_story_5792794.utf8                 0.883513
9    10  1050113_frontpage_story_4248720.utf8                 0.883301

query ID=  109

   RANK                       DOCUMENT NAME  cosine similarity score
0     1   1050818_nation_story_5126655.utf8                 0.923047
1     2   1060116_nation_story_5725038.utf8                 0.914442
2     3   1051216_nation_story_5605895.utf8                 0.913911
3     4   1060103_nation_story_5673645.utf8                 0.904342
4     5   1051127_nation_story_5527388.utf8                 0.904269
5     6   1051219_nation_story_5618307.utf8                 0.901021
6     7   1051129_nation_story_5534465.utf8                 0.895298
7     8  1041016_opinion_story_3889069.utf8                 0.890958
8     9   1041006_nation_story_3846756.utf8                 0.890621
9    10  1050710_opinion_story_4969784.utf8                 0.883082

query ID=  110

   RANK                        DOCUMENT NAME  cosine similarity score
0     1    1060707_nation_story_6447577.utf8                 0.890515
1     2    1060620_nation_story_6375357.utf8                 0.870994
2     3   1060621_opinion_story_6377359.utf8                 0.843648
3     4    1050512_bengal_story_4728585.utf8                 0.815981
4     5  1051227_business_story_5649030.utf8                 0.812390
5     6    1050928_nation_story_5293658.utf8                 0.810839
6     7   1061128_opinion_story_7057811.utf8                 0.800032
7     8    1060621_nation_story_6380602.utf8                 0.799277
8     9    1050923_nation_story_5275140.utf8                 0.794492
9    10   1060711_opinion_story_6459845.utf8                 0.793532

query ID=  111

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1050331_nation_story_4555290.utf8                 0.914366
1     2     1060413_nation_story_6093542.utf8                 0.902998
2     3     1050414_nation_story_4612585.utf8                 0.888790
3     4     1050826_nation_story_5158651.utf8                 0.858277
4     5  1050826_frontpage_story_5159316.utf8                 0.858007
5     6     1050606_nation_story_4832860.utf8                 0.856059
6     7     1050810_nation_story_5096115.utf8                 0.846802
7     8     1060102_nation_story_5670446.utf8                 0.833554
8     9     1050413_nation_story_4609077.utf8                 0.822085
9    10     1050817_nation_story_5121698.utf8                 0.821440

query ID=  112

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1050202_nation_story_4325616.utf8                 0.906823
1     2  1050214_frontpage_story_4376137.utf8                 0.890518
2     3  1050125_frontpage_story_4295506.utf8                 0.883294
3     4     1050211_nation_story_4363942.utf8                 0.859993
4     5     1050223_nation_story_4412606.utf8                 0.857395
5     6     1050116_nation_story_4260180.utf8                 0.853235
6     7  1050403_frontpage_story_4568418.utf8                 0.853195
7     8     1060208_nation_story_5819357.utf8                 0.838173
8     9     1050217_nation_story_4389288.utf8                 0.816963
9    10    1050508_opinion_story_4709525.utf8                 0.786642

query ID=  113

   RANK                       DOCUMENT NAME  cosine similarity score
0     1  1061116_foreign_story_7007945.utf8                 0.905744
1     2  1061129_foreign_story_7065308.utf8                 0.893065
2     3  1061115_foreign_story_7002790.utf8                 0.880788
3     4  1061123_foreign_story_7039229.utf8                 0.878870
4     5  1061126_foreign_story_7052195.utf8                 0.874776
5     6  1061122_foreign_story_7034597.utf8                 0.869299
6     7  1061121_foreign_story_7028944.utf8                 0.868817
7     8  1061031_foreign_story_6938793.utf8                 0.860831
8     9  1061029_foreign_story_6930615.utf8                 0.860186
9    10  1070107_foreign_story_7230364.utf8                 0.857131

query ID=  114

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1050420_frontpage_story_4637476.utf8                 0.883917
1     2  1050423_frontpage_story_4651456.utf8                 0.880166
2     3     1050607_nation_story_4836754.utf8                 0.844929
3     4     1050421_nation_story_4642129.utf8                 0.838766
4     5  1050421_frontpage_story_4642068.utf8                 0.825462
5     6  1050422_frontpage_story_4646612.utf8                 0.791504
6     7     1050503_nation_story_4688823.utf8                 0.762784
7     8     1050422_nation_story_4645493.utf8                 0.758148
8     9     1061025_nation_story_6912959.utf8                 0.754275
9    10  1060321_frontpage_story_5993625.utf8                 0.744256

query ID=  115

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1060309_frontpage_story_5946418.utf8                 0.877346
1     2  1060909_frontpage_story_6722632.utf8                 0.859732
2     3  1060310_frontpage_story_5950087.utf8                 0.859502
3     4     1060311_nation_story_5954673.utf8                 0.827645
4     5  1060308_frontpage_story_5941755.utf8                 0.825716
5     6     1060402_nation_story_6046493.utf8                 0.819111
6     7     1061031_nation_story_6938517.utf8                 0.813380
7     8  1060910_frontpage_story_6726129.utf8                 0.813039
8     9     1070906_nation_story_8282648.utf8                 0.812081
9    10     1060308_nation_story_5940209.utf8                 0.809774

query ID=  116

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1060121_nation_story_5748791.utf8                 0.901372
1     2     1060126_nation_story_5768230.utf8                 0.899442
2     3     1060218_nation_story_5862838.utf8                 0.898961
3     4     1060123_nation_story_5754114.utf8                 0.890931
4     5     1060203_nation_story_5798365.utf8                 0.888205
5     6     1060221_nation_story_5873931.utf8                 0.887454
6     7     1060307_nation_story_5935593.utf8                 0.876879
7     8  1060126_frontpage_story_5768633.utf8                 0.827525
8     9     1060122_nation_story_5751717.utf8                 0.822120
9    10     1061021_nation_story_6899070.utf8                 0.813140

query ID=  117

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1060112_nation_story_5711093.utf8                 0.969165
1     2  1060111_frontpage_story_5706744.utf8                 0.827210
2     3     1060113_nation_story_5715690.utf8                 0.776776
3     4  1070420_frontpage_story_7670889.utf8                 0.765687
4     5  1060103_frontpage_story_5674777.utf8                 0.761068
5     6     1060417_nation_story_6106890.utf8                 0.756254
6     7  1060104_frontpage_story_5678941.utf8                 0.754071
7     8     1060103_nation_story_5673695.utf8                 0.753212
8     9   1060622_business_story_6385256.utf8                 0.741751
9    10     1060104_nation_story_5679057.utf8                 0.737950

query ID=  118

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1050706_nation_story_4955838.utf8                 0.791255
1     2     1050706_nation_story_4955741.utf8                 0.783651
2     3    1050711_opinion_story_4957028.utf8                 0.775051
3     4     1051101_nation_story_5424592.utf8                 0.758417
4     5     1050706_nation_story_4955784.utf8                 0.757891
5     6     1060909_nation_story_6721388.utf8                 0.754723
6     7     1050716_nation_story_4997607.utf8                 0.751264
7     8  1051112_frontpage_story_5468447.utf8                 0.747941
8     9    1050706_opinion_story_4952689.utf8                 0.745817
9    10     1060712_nation_story_6466498.utf8                 0.743333

query ID=  119

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1050714_frontpage_story_4988276.utf8                 0.955963
1     2     1050609_nation_story_4843677.utf8                 0.937585
2     3     1051206_nation_story_5564020.utf8                 0.930802
3     4     1050813_nation_story_5108420.utf8                 0.912396
4     5     1050720_nation_story_5010221.utf8                 0.892664
5     6     1050715_nation_story_4992987.utf8                 0.872153
6     7    1050718_opinion_story_4994184.utf8                 0.859258
7     8    1050715_opinion_story_4989948.utf8                 0.836414
8     9     1050714_nation_story_4988361.utf8                 0.811061
9    10     1050716_nation_story_4996994.utf8                 0.801872

query ID=  120

   RANK                      DOCUMENT NAME  cosine similarity score
0     1  1050210_nation_story_4359510.utf8                 0.852430
1     2  1050209_nation_story_4356065.utf8                 0.837925
2     3  1050106_nation_story_4218937.utf8                 0.823330
3     4  1050312_nation_story_4484256.utf8                 0.778396
4     5  1041210_nation_story_4109648.utf8                 0.766580
5     6  1060625_nation_story_6397414.utf8                 0.752133
6     7  1050206_nation_story_4343894.utf8                 0.749214
7     8  1041226_nation_story_4175544.utf8                 0.740640
8     9  1050205_nation_story_4340470.utf8                 0.733382
9    10  1060123_nation_story_5754658.utf8                 0.729926

query ID=  121

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1070219_frontpage_story_7411720.utf8                 0.846408
1     2     1070220_nation_story_7415039.utf8                 0.817458
2     3  1070220_frontpage_story_7415831.utf8                 0.817327
3     4  1070221_frontpage_story_7420491.utf8                 0.805415
4     5    1070220_opinion_story_7412977.utf8                 0.802394
5     6    1070222_opinion_story_7417136.utf8                 0.800040
6     7     1070220_nation_story_7415575.utf8                 0.783519
7     8     1070221_nation_story_7420222.utf8                 0.772491
8     9     1070906_nation_story_8281908.utf8                 0.738620
9    10     1070222_nation_story_7425048.utf8                 0.733837

query ID=  122

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1061220_nation_story_7162111.utf8                 0.899712
1     2     1061219_nation_story_7157321.utf8                 0.897346
2     3  1061129_frontpage_story_7066216.utf8                 0.892747
3     4     1061222_nation_story_7171528.utf8                 0.889122
4     5     1070801_nation_story_8132782.utf8                 0.884148
5     6     1070801_nation_story_8132963.utf8                 0.879412
6     7     1070208_nation_story_7365521.utf8                 0.870516
7     8  1070731_frontpage_story_8130571.utf8                 0.866979
8     9  1061130_frontpage_story_7071030.utf8                 0.865416
9    10     1061130_nation_story_7071071.utf8                 0.864633

query ID=  123

   RANK                         DOCUMENT NAME  cosine similarity score
0     1    1041106_foreign_story_3972071.utf8                 0.908520
1     2    1041108_foreign_story_3978518.utf8                 0.908506
2     3    1041110_foreign_story_3987311.utf8                 0.908193
3     4    1041208_opinion_story_4086626.utf8                 0.904896
4     5  1041112_frontpage_story_3995357.utf8                 0.894380
5     6    1041112_foreign_story_3995445.utf8                 0.894260
6     7    1041105_foreign_story_3968081.utf8                 0.886316
7     8    1041112_foreign_story_3995446.utf8                 0.880012
8     9    1041029_foreign_story_3939418.utf8                 0.879298
9    10    1041109_foreign_story_3982599.utf8                 0.857982

query ID=  124

   RANK                        DOCUMENT NAME  cosine similarity score
0     1    1060612_nation_story_6340993.utf8                 0.854347
1     2  1060612_calcutta_story_6317909.utf8                 0.808795
2     3  1061208_calcutta_story_7108893.utf8                 0.764902
3     4    1061227_nation_story_7189167.utf8                 0.754823
4     5    1060612_nation_story_6340989.utf8                 0.749710
5     6    1050912_nation_story_5227211.utf8                 0.739808
6     7    1070526_nation_story_7832104.utf8                 0.731490
7     8  1060715_calcutta_story_6478430.utf8                 0.730027
8     9    1060829_nation_story_6670663.utf8                 0.725881
9    10  1070723_calcutta_story_8094302.utf8                 0.725122

query ID=  125

   RANK                       DOCUMENT NAME  cosine similarity score
0     1  1070705_foreign_story_8019084.utf8                 0.905825
1     2  1070709_foreign_story_8034677.utf8                 0.897257
2     3  1070726_foreign_story_8108245.utf8                 0.896418
3     4  1070630_foreign_story_7995955.utf8                 0.889659
4     5  1070705_foreign_story_8019086.utf8                 0.888826
5     6  1070708_foreign_story_8030768.utf8                 0.888603
6     7  1070707_foreign_story_8027755.utf8                 0.888513
7     8  1070731_foreign_story_8128927.utf8                 0.884241
8     9  1070704_foreign_story_8012634.utf8                 0.878486
9    10  1070706_foreign_story_8023448.utf8                 0.867583

0.5200000000000001

#**MAP Result**

In [ ]:
print("map without expansion + word2vec + rocchio = ",map)

map without expansion + word2vec + rocchio =  0.5200000000000001

#**Q6 ROCCHIO + EXPANSION + WORD2VEC**

EXPANDING QUERY

In [ ]:
expand_transformed_query = expand_transform_query("cbow",CBOW_model)

expansion complete
transformation complete

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:34: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).

Applying rochio

In [ ]:
modified_transformed_query = rocchio(expand_transformed_query,VECTOR_MATRIX)

calculating map

In [ ]:
map = calculate_map(modified_transformed_query,VECTOR_MATRIX)

query ID=  76

   RANK                         DOCUMENT NAME  cosine similarity score
0     1    1070531_opinion_story_7852019.utf8                 0.737476
1     2     1070530_nation_story_7849973.utf8                 0.717149
2     3    1070602_opinion_story_7862142.utf8                 0.689695
3     4     1070605_nation_story_7877641.utf8                 0.689580
4     5     1070625_nation_story_7970372.utf8                 0.678598
5     6     1070603_nation_story_7869357.utf8                 0.675555
6     7  1070531_frontpage_story_7855182.utf8                 0.673104
7     8    1070607_opinion_story_7886010.utf8                 0.670076
8     9     1070611_nation_story_7906812.utf8                 0.669088
9    10  1040914_frontpage_story_3753488.utf8                 0.665633

query ID=  77

   RANK                       DOCUMENT NAME  cosine similarity score
0     1  1060806_foreign_story_6575214.utf8                 0.876880
1     2  1060717_foreign_story_6488684.utf8                 0.874240
2     3  1060719_foreign_story_6496938.utf8                 0.869273
3     4  1060814_foreign_story_6609200.utf8                 0.865846
4     5  1060716_foreign_story_6485226.utf8                 0.865209
5     6  1060727_foreign_story_6531510.utf8                 0.863189
6     7  1060718_foreign_story_6491617.utf8                 0.857976
7     8  1060802_foreign_story_6557944.utf8                 0.856047
8     9  1051229_foreign_story_5657775.utf8                 0.853775
9    10  1060720_foreign_story_6501311.utf8                 0.852434

query ID=  78

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1041105_nation_story_3968019.utf8                 0.658120
1     2     1041125_nation_story_4047336.utf8                 0.637525
2     3     1050709_nation_story_4968974.utf8                 0.630240
3     4     1041101_nation_story_3949729.utf8                 0.629002
4     5     1050727_nation_story_5040144.utf8                 0.627739
5     6     1070918_nation_story_8329881.utf8                 0.625073
6     7     1041102_nation_story_3954727.utf8                 0.623502
7     8     1050710_nation_story_4971927.utf8                 0.617025
8     9  1041028_frontpage_story_3934751.utf8                 0.616650
9    10     1060910_nation_story_6726167.utf8                 0.615234

query ID=  79

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1070621_nation_story_7952530.utf8                 0.716654
1     2     1060902_nation_story_6690181.utf8                 0.630719
2     3     1061121_nation_story_7029464.utf8                 0.584184
3     4     1060630_nation_story_6418918.utf8                 0.578010
4     5     1060505_nation_story_6185028.utf8                 0.571508
5     6  1070621_frontpage_story_7952567.utf8                 0.563373
6     7   1060902_calcutta_story_6686729.utf8                 0.555635
7     8  1050618_frontpage_story_4883855.utf8                 0.551458
8     9  1061120_frontpage_story_7024999.utf8                 0.545667
9    10   1060729_calcutta_story_6528138.utf8                 0.545500

query ID=  80

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1060710_nation_story_6458256.utf8                 0.798677
1     2     1070323_nation_story_7555002.utf8                 0.796422
2     3     1060619_nation_story_6370018.utf8                 0.795891
3     4     1070620_nation_story_7947529.utf8                 0.795373
4     5  1041103_frontpage_story_3959012.utf8                 0.795287
5     6     1050707_nation_story_4959905.utf8                 0.782100
6     7     1061123_nation_story_7038215.utf8                 0.775643
7     8   1050627_calcutta_story_4920729.utf8                 0.774819
8     9     1050215_nation_story_4379758.utf8                 0.772979
9    10     1061025_nation_story_6912535.utf8                 0.772419

query ID=  81

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1060822_nation_story_6641118.utf8                 0.863201
1     2  1060821_frontpage_story_6636584.utf8                 0.855928
2     3     1060726_nation_story_6526490.utf8                 0.838803
3     4     1051218_nation_story_5615385.utf8                 0.827828
4     5     1050808_nation_story_5087323.utf8                 0.777786
5     6  1070714_frontpage_story_8058219.utf8                 0.777617
6     7     1051221_nation_story_5626558.utf8                 0.775330
7     8     1041007_nation_story_3851528.utf8                 0.753058
8     9    1051129_foreign_story_5535728.utf8                 0.744800
9    10   1041016_business_story_3889349.utf8                 0.742624

query ID=  82

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1050330_nation_story_4551477.utf8                 0.736893
1     2     1050404_nation_story_4571567.utf8                 0.719075
2     3     1050617_nation_story_4879057.utf8                 0.698183
3     4     1060408_nation_story_6073090.utf8                 0.692780
4     5     1050407_nation_story_4584906.utf8                 0.682900
5     6     1050417_nation_story_4625341.utf8                 0.682144
6     7   1061030_calcutta_story_6932124.utf8                 0.675759
7     8  1050421_frontpage_story_4642066.utf8                 0.672766
8     9     1050406_nation_story_4578392.utf8                 0.669410
9    10     1050405_nation_story_4575953.utf8                 0.668818

query ID=  83

   RANK                       DOCUMENT NAME  cosine similarity score
0     1  1050622_opinion_story_4855728.utf8                 0.866963
1     2  1050118_opinion_story_4253867.utf8                 0.853141
2     3  1050116_opinion_story_4260633.utf8                 0.846588
3     4   1051024_nation_story_5387050.utf8                 0.845582
4     5   1050220_nation_story_4401588.utf8                 0.844364
5     6   1051122_nation_story_5506669.utf8                 0.833254
6     7  1051019_opinion_story_5354081.utf8                 0.833007
7     8   1050204_nation_story_4334886.utf8                 0.825899
8     9   1041022_nation_story_3913967.utf8                 0.824556
9    10   1050203_nation_story_4329371.utf8                 0.824041

query ID=  84

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1060104_frontpage_story_5679195.utf8                 0.773506
1     2     1060105_nation_story_5682584.utf8                 0.758491
2     3    1060109_opinion_story_5680042.utf8                 0.626280
3     4  1061223_frontpage_story_7175502.utf8                 0.618750
4     5   1050526_calcutta_story_4780883.utf8                 0.600119
5     6     1060108_nation_story_5695226.utf8                 0.596351
6     7  1050222_frontpage_story_4409155.utf8                 0.585395
7     8  1041215_atleisure_story_4127714.utf8                 0.570220
8     9     1040926_nation_story_3805456.utf8                 0.569096
9    10     1050714_nation_story_4987899.utf8                 0.566711

query ID=  85

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1060614_nation_story_6351073.utf8                 0.851342
1     2  1051122_frontpage_story_5506658.utf8                 0.840050
2     3     1051208_nation_story_5573594.utf8                 0.832701
3     4  1060120_frontpage_story_5743236.utf8                 0.830972
4     5     1060912_nation_story_6732673.utf8                 0.829938
5     6     1060308_nation_story_5940109.utf8                 0.821868
6     7  1051112_frontpage_story_5468138.utf8                 0.819173
7     8  1051218_frontpage_story_5615388.utf8                 0.805116
8     9     1051123_nation_story_5511231.utf8                 0.796022
9    10     1060405_nation_story_6059195.utf8                 0.795576

query ID=  86

   RANK                         DOCUMENT NAME  cosine similarity score
0     1   1060125_business_story_5763699.utf8                 0.753184
1     2   1050915_business_story_5240849.utf8                 0.735639
2     3   1050914_business_story_5236221.utf8                 0.734406
3     4   1050910_business_story_5220819.utf8                 0.727788
4     5  1060201_frontpage_story_5790335.utf8                 0.726933
5     6   1060111_business_story_5706639.utf8                 0.725195
6     7   1060211_business_story_5832596.utf8                 0.715895
7     8   1060116_business_story_5725980.utf8                 0.711400
8     9   1060720_business_story_6500428.utf8                 0.708749
9    10     1060201_nation_story_5790273.utf8                 0.705083

query ID=  87

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1050613_frontpage_story_4860799.utf8                 0.821688
1     2  1070113_frontpage_story_7255885.utf8                 0.789207
2     3     1050525_nation_story_4783638.utf8                 0.786390
3     4  1051005_frontpage_story_5321640.utf8                 0.784914
4     5     1050530_nation_story_4803464.utf8                 0.783168
5     6     1051004_nation_story_5317408.utf8                 0.779346
6     7     1050609_nation_story_4844195.utf8                 0.777664
7     8     1060524_nation_story_6262763.utf8                 0.775795
8     9     1050413_nation_story_4608645.utf8                 0.773817
9    10     1070113_nation_story_7256545.utf8                 0.772053

query ID=  88

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1041118_nation_story_4017603.utf8                 0.798380
1     2     1041204_nation_story_4084529.utf8                 0.783460
2     3     1050117_nation_story_4263155.utf8                 0.766265
3     4     1041124_nation_story_4041679.utf8                 0.761364
4     5     1041210_nation_story_4110266.utf8                 0.752850
5     6  1041113_frontpage_story_3999431.utf8                 0.752320
6     7     1050401_nation_story_4557779.utf8                 0.749806
7     8     1041123_nation_story_4037613.utf8                 0.738863
8     9     1050112_nation_story_4242953.utf8                 0.727167
9    10     1050122_nation_story_4284864.utf8                 0.724257

query ID=  89

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1050103_frontpage_story_4205915.utf8                 0.760319
1     2  1051105_frontpage_story_5439522.utf8                 0.757640
2     3     1051203_nation_story_5554013.utf8                 0.748874
3     4     1051106_nation_story_5443086.utf8                 0.740638
4     5     1051105_nation_story_5439816.utf8                 0.734205
5     6     1051101_nation_story_5424089.utf8                 0.732324
6     7     1060815_nation_story_6614253.utf8                 0.730499
7     8     1051109_nation_story_5454995.utf8                 0.716934
8     9     1051108_nation_story_5450432.utf8                 0.714797
9    10  1051109_frontpage_story_5454481.utf8                 0.713202

query ID=  90

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1060907_bengal_story_6711204.utf8                 0.711446
1     2  1051029_frontpage_story_5413540.utf8                 0.711067
2     3  1040918_frontpage_story_3773201.utf8                 0.699369
3     4     1040929_nation_story_3817327.utf8                 0.686342
4     5     1050623_nation_story_4904606.utf8                 0.674029
5     6  1040917_frontpage_story_3769177.utf8                 0.668807
6     7     1040928_nation_story_3812893.utf8                 0.666619
7     8     1040914_nation_story_3755583.utf8                 0.665799
8     9  1060420_frontpage_story_6122138.utf8                 0.663938
9    10     1040927_nation_story_3808193.utf8                 0.663637

query ID=  91

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1070703_nation_story_8008354.utf8                 0.619815
1     2     1070630_nation_story_7996611.utf8                 0.616401
2     3   1060126_business_story_5767531.utf8                 0.602464
3     4     1070629_nation_story_7990990.utf8                 0.597239
4     5     1070703_nation_story_8008353.utf8                 0.595085
5     6     1050603_nation_story_4821251.utf8                 0.589301
6     7  1050328_frontpage_story_4542810.utf8                 0.583010
7     8     1070704_nation_story_8013769.utf8                 0.581036
8     9    1070629_opinion_story_7987432.utf8                 0.580235
9    10     1070525_nation_story_7825749.utf8                 0.575654

query ID=  92

   RANK                       DOCUMENT NAME  cosine similarity score
0     1  1060426_foreign_story_6146369.utf8                 0.882893
1     2  1060427_foreign_story_6151284.utf8                 0.880617
2     3  1060618_foreign_story_6367749.utf8                 0.879298
3     4  1060115_foreign_story_5723147.utf8                 0.875925
4     5  1060911_foreign_story_6729452.utf8                 0.872467
5     6  1060619_foreign_story_6370593.utf8                 0.865929
6     7  1060731_foreign_story_6548428.utf8                 0.861470
7     8  1070403_foreign_story_7599402.utf8                 0.860479
8     9  1060529_foreign_story_6283160.utf8                 0.860454
9    10  1050209_foreign_story_4355824.utf8                 0.858464

query ID=  93

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1051214_frontpage_story_5598101.utf8                 0.649395
1     2     1051213_nation_story_5594011.utf8                 0.634865
2     3  1051223_frontpage_story_5635635.utf8                 0.633555
3     4     1060111_nation_story_5706272.utf8                 0.629003
4     5  1051215_frontpage_story_5603154.utf8                 0.628776
5     6  1060121_frontpage_story_5748538.utf8                 0.622210
6     7     1070424_nation_story_7689072.utf8                 0.618525
7     8     1070826_nation_story_8238639.utf8                 0.617780
8     9  1051213_frontpage_story_5593956.utf8                 0.613021
9    10     1051214_nation_story_5598234.utf8                 0.603558

query ID=  94

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1060407_frontpage_story_6068877.utf8                 0.748954
1     2     1070628_nation_story_7985869.utf8                 0.734795
2     3     1060704_nation_story_6435206.utf8                 0.727652
3     4     1060722_nation_story_6510631.utf8                 0.726739
4     5     1060502_nation_story_6171060.utf8                 0.714889
5     6     1060429_nation_story_6160546.utf8                 0.706220
6     7     1070411_nation_story_7633126.utf8                 0.676402
7     8     1050930_nation_story_5302148.utf8                 0.659107
8     9     1060624_nation_story_6394559.utf8                 0.657978
9    10     1051029_nation_story_5413024.utf8                 0.656920

query ID=  95

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1070130_nation_story_7325094.utf8                 0.867167
1     2     1070117_nation_story_7272982.utf8                 0.854777
2     3  1070119_frontpage_story_7282977.utf8                 0.851531
3     4     1070122_nation_story_7292962.utf8                 0.841148
4     5     1070121_nation_story_7290431.utf8                 0.829021
5     6     1070118_nation_story_7277918.utf8                 0.817530
6     7     1070129_nation_story_7319522.utf8                 0.812835
7     8     1070120_nation_story_7287184.utf8                 0.790303
8     9     1070113_nation_story_7255901.utf8                 0.784498
9    10    1070106_opinion_story_7224346.utf8                 0.778426

query ID=  96

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1070124_nation_story_7301639.utf8                 0.765970
1     2     1061025_nation_story_6912535.utf8                 0.760831
2     3  1060307_frontpage_story_5935841.utf8                 0.748552
3     4     1060613_nation_story_6345874.utf8                 0.740551
4     5     1060723_nation_story_6514260.utf8                 0.733851
5     6     1060612_nation_story_6340988.utf8                 0.724039
6     7     1070504_nation_story_7732370.utf8                 0.719898
7     8     1070911_nation_story_8302152.utf8                 0.719879
8     9     1060908_nation_story_6717284.utf8                 0.718883
9    10     1060420_nation_story_6121474.utf8                 0.718108

query ID=  97

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1041216_frontpage_story_4135458.utf8                 0.878318
1     2  1041123_frontpage_story_4038891.utf8                 0.873005
2     3  1041224_frontpage_story_4169043.utf8                 0.835667
3     4  1050619_frontpage_story_4887525.utf8                 0.834617
4     5  1050504_frontpage_story_4693562.utf8                 0.833935
5     6  1050123_frontpage_story_4287830.utf8                 0.833530
6     7   1050628_business_story_4923656.utf8                 0.830756
7     8   1060208_business_story_5818982.utf8                 0.830360
8     9  1041119_frontpage_story_4022900.utf8                 0.828781
9    10  1060208_frontpage_story_5819545.utf8                 0.824713

query ID=  98

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1061118_nation_story_7019028.utf8                 0.679412
1     2     1061115_nation_story_7003933.utf8                 0.674982
2     3     1070526_nation_story_7830524.utf8                 0.661323
3     4  1070528_frontpage_story_7838904.utf8                 0.658779
4     5     1061125_nation_story_7047920.utf8                 0.653902
5     6     1050402_nation_story_4564877.utf8                 0.644406
6     7    1050408_opinion_story_4586091.utf8                 0.642187
7     8     1061114_nation_story_6998353.utf8                 0.636662
8     9    1070609_opinion_story_7874450.utf8                 0.632464
9    10    1060815_opinion_story_6610607.utf8                 0.623680

query ID=  99

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1041002_frontpage_story_3831916.utf8                 0.836120
1     2  1070323_frontpage_story_7553425.utf8                 0.809361
2     3     1040918_nation_story_3773413.utf8                 0.799577
3     4     1050223_nation_story_4413219.utf8                 0.799034
4     5     1040916_nation_story_3764495.utf8                 0.797819
5     6     1041208_nation_story_4100626.utf8                 0.792567
6     7     1060822_nation_story_6641052.utf8                 0.775265
7     8     1061219_nation_story_7157548.utf8                 0.772947
8     9     1060208_nation_story_5819306.utf8                 0.772875
9    10     1061219_nation_story_7157553.utf8                 0.768342

query ID=  100

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1051121_nation_story_5502034.utf8                 0.815040
1     2  1051120_frontpage_story_5499275.utf8                 0.745820
2     3     1051117_nation_story_5486446.utf8                 0.739486
3     4     1041110_nation_story_3987208.utf8                 0.726505
4     5     1051117_nation_story_5486656.utf8                 0.725652
5     6  1041107_frontpage_story_3975998.utf8                 0.718980
6     7  1051112_frontpage_story_5468137.utf8                 0.716656
7     8  1060120_frontpage_story_5743236.utf8                 0.716256
8     9     1050227_nation_story_4430335.utf8                 0.709243
9    10     1061001_nation_story_6815631.utf8                 0.706544

query ID=  101

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1060605_frontpage_story_6312263.utf8                 0.707640
1     2  1060608_frontpage_story_6325839.utf8                 0.694107
2     3  1060718_frontpage_story_6325839.utf8                 0.694107
3     4  1060719_frontpage_story_6325839.utf8                 0.694107
4     5  1060720_frontpage_story_6325839.utf8                 0.694107
5     6  1060721_frontpage_story_6325839.utf8                 0.694107
6     7  1060604_frontpage_story_6309170.utf8                 0.688415
7     8  1060607_frontpage_story_6320995.utf8                 0.676833
8     9     1060603_nation_story_6305900.utf8                 0.669684
9    10     1060606_nation_story_6316307.utf8                 0.664119

query ID=  102

   RANK                      DOCUMENT NAME  cosine similarity score
0     1  1070214_sports_story_7390672.utf8                 0.790561
1     2  1061223_sports_story_7175824.utf8                 0.787730
2     3  1070805_sports_story_8151812.utf8                 0.784983
3     4  1061116_sports_story_7008225.utf8                 0.783414
4     5  1061206_sports_story_7100584.utf8                 0.783060
5     6  1070506_sports_story_7740456.utf8                 0.777037
6     7  1061021_sports_story_6899397.utf8                 0.773556
7     8  1061206_sports_story_7100581.utf8                 0.762219
8     9  1061103_sports_story_6953702.utf8                 0.755958
9    10  1061103_sports_story_6953704.utf8                 0.752979

query ID=  103

   RANK                       DOCUMENT NAME  cosine similarity score
0     1   1050107_nation_story_4222879.utf8                 0.773334
1     2   1050119_nation_story_4271375.utf8                 0.764635
2     3   1070213_nation_story_7386151.utf8                 0.760370
3     4   1050112_nation_story_4243051.utf8                 0.755533
4     5   1050630_nation_story_4930676.utf8                 0.747045
5     6   1050105_nation_story_4212186.utf8                 0.733611
6     7   1060419_nation_story_6117601.utf8                 0.719313
7     8  1070216_opinion_story_7397535.utf8                 0.718351
8     9   1050108_nation_story_4226925.utf8                 0.705406
9    10   1050201_nation_story_4321003.utf8                 0.702129

query ID=  104

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1060311_nation_story_5954497.utf8                 0.821346
1     2     1060308_nation_story_5939546.utf8                 0.796063
2     3  1060322_frontpage_story_5998166.utf8                 0.755550
3     4     1060323_nation_story_6002987.utf8                 0.729935
4     5     1060509_nation_story_6200870.utf8                 0.722069
5     6     1060402_nation_story_6046363.utf8                 0.717933
6     7     1060827_nation_story_6663863.utf8                 0.701754
7     8     1060324_nation_story_6007603.utf8                 0.699015
8     9  1060318_frontpage_story_5981561.utf8                 0.692431
9    10     1060310_nation_story_5949924.utf8                 0.690253

query ID=  105

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1050115_nation_story_4256947.utf8                 0.785037
1     2  1050823_frontpage_story_5145553.utf8                 0.784379
2     3     1050315_nation_story_4494613.utf8                 0.778793
3     4     1070606_nation_story_7882722.utf8                 0.773462
4     5     1061128_nation_story_7060323.utf8                 0.766492
5     6  1041002_frontpage_story_3831916.utf8                 0.760071
6     7    1070607_opinion_story_7886004.utf8                 0.759236
7     8     1070302_nation_story_7460471.utf8                 0.736056
8     9     1050215_nation_story_4379758.utf8                 0.732631
9    10     1050512_nation_story_4728376.utf8                 0.730926

query ID=  106

   RANK                         DOCUMENT NAME  cosine similarity score
0     1    1070820_opinion_story_8184577.utf8                 0.717288
1     2     1070814_nation_story_8190672.utf8                 0.680917
2     3    1060519_opinion_story_6230366.utf8                 0.660397
3     4    1060207_opinion_story_5811776.utf8                 0.645870
4     5    1070624_opinion_story_7960120.utf8                 0.642361
5     6  1041227_atleisure_story_4179435.utf8                 0.616414
6     7    1070511_opinion_story_7754676.utf8                 0.613245
7     8    1060215_opinion_story_5842515.utf8                 0.607667
8     9    1060211_opinion_story_5829470.utf8                 0.606422
9    10     1050923_bengal_story_5274462.utf8                 0.602589

query ID=  107

   RANK                       DOCUMENT NAME  cosine similarity score
0     1   1070509_nation_story_7752995.utf8                 0.764360
1     2   1070406_nation_story_7613759.utf8                 0.744189
2     3   1070407_nation_story_7617335.utf8                 0.733757
3     4   1050201_nation_story_4322102.utf8                 0.724759
4     5   1070410_nation_story_7628468.utf8                 0.722175
5     6   1070413_nation_story_7642117.utf8                 0.710705
6     7  1070412_opinion_story_7626594.utf8                 0.709824
7     8   1050213_nation_story_4372796.utf8                 0.699775
8     9   1070420_nation_story_7671367.utf8                 0.695541
9    10   1070412_nation_story_7637981.utf8                 0.694225

query ID=  108

   RANK                       DOCUMENT NAME  cosine similarity score
0     1  1050411_opinion_story_4598507.utf8                 0.780719
1     2  1050809_opinion_story_5089652.utf8                 0.763216
2     3  1041028_opinion_story_3920231.utf8                 0.761777
3     4  1050802_opinion_story_5061056.utf8                 0.753982
4     5  1051123_opinion_story_5507939.utf8                 0.753889
5     6  1041026_opinion_story_3923489.utf8                 0.751259
6     7  1060404_opinion_story_6051715.utf8                 0.746849
7     8  1060705_opinion_story_6436162.utf8                 0.743470
8     9  1060511_opinion_story_6206921.utf8                 0.742499
9    10  1060202_opinion_story_5792794.utf8                 0.742032

query ID=  109

   RANK                       DOCUMENT NAME  cosine similarity score
0     1   1051219_nation_story_5618306.utf8                 0.742567
1     2  1051228_opinion_story_5646866.utf8                 0.708248
2     3   1060103_nation_story_5673645.utf8                 0.708060
3     4   1051219_nation_story_5618307.utf8                 0.703580
4     5   1051107_nation_story_5445719.utf8                 0.696914
5     6   1050818_nation_story_5126655.utf8                 0.690965
6     7   1051216_nation_story_5605895.utf8                 0.688545
7     8   1041015_nation_story_3885503.utf8                 0.684783
8     9   1051127_nation_story_5527388.utf8                 0.683104
9    10   1060116_nation_story_5725038.utf8                 0.680201

query ID=  110

   RANK                        DOCUMENT NAME  cosine similarity score
0     1   1060621_opinion_story_6377359.utf8                 0.764993
1     2    1060707_nation_story_6447577.utf8                 0.758977
2     3    1060620_nation_story_6375357.utf8                 0.748478
3     4    1050928_nation_story_5293658.utf8                 0.723738
4     5    1050512_bengal_story_4728585.utf8                 0.720477
5     6   1060602_opinion_story_6298639.utf8                 0.719912
6     7   1061128_opinion_story_7057811.utf8                 0.717455
7     8  1051227_business_story_5649030.utf8                 0.713411
8     9  1050606_business_story_4832404.utf8                 0.701402
9    10    1050923_nation_story_5275140.utf8                 0.697951

query ID=  111

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1060413_nation_story_6093542.utf8                 0.846675
1     2     1050331_nation_story_4555290.utf8                 0.839010
2     3     1050414_nation_story_4612585.utf8                 0.829687
3     4     1050817_nation_story_5121698.utf8                 0.798354
4     5     1050810_nation_story_5096115.utf8                 0.795719
5     6     1060414_nation_story_6097270.utf8                 0.789250
6     7  1050826_frontpage_story_5159316.utf8                 0.775145
7     8     1050826_nation_story_5158651.utf8                 0.774817
8     9     1050606_nation_story_4832860.utf8                 0.751024
9    10     1050519_nation_story_4757290.utf8                 0.740799

query ID=  112

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1050202_nation_story_4325616.utf8                 0.773752
1     2  1050403_frontpage_story_4568418.utf8                 0.750759
2     3  1050214_frontpage_story_4376137.utf8                 0.744870
3     4  1050125_frontpage_story_4295506.utf8                 0.730513
4     5     1050211_nation_story_4363942.utf8                 0.710968
5     6     1050223_nation_story_4412606.utf8                 0.703373
6     7     1070331_nation_story_7588636.utf8                 0.680729
7     8     1050116_nation_story_4260180.utf8                 0.680606
8     9     1050405_nation_story_4575980.utf8                 0.676057
9    10     1060111_nation_story_5705329.utf8                 0.671508

query ID=  113

   RANK                       DOCUMENT NAME  cosine similarity score
0     1  1061121_foreign_story_7028944.utf8                 0.754213
1     2  1060102_foreign_story_5671088.utf8                 0.741187
2     3  1061116_foreign_story_7007945.utf8                 0.737347
3     4  1060615_foreign_story_6354695.utf8                 0.737263
4     5  1061029_foreign_story_6930615.utf8                 0.732580
5     6  1060703_foreign_story_6430297.utf8                 0.732230
6     7  1061204_foreign_story_7088474.utf8                 0.726670
7     8  1060421_foreign_story_6126560.utf8                 0.725578
8     9  1061129_foreign_story_7065308.utf8                 0.724636
9    10  1061115_foreign_story_7002790.utf8                 0.724069

query ID=  114

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1050420_frontpage_story_4637476.utf8                 0.732510
1     2  1050423_frontpage_story_4651456.utf8                 0.725010
2     3     1050607_nation_story_4836754.utf8                 0.696995
3     4     1050421_nation_story_4642129.utf8                 0.676958
4     5  1050421_frontpage_story_4642068.utf8                 0.633276
5     6  1060321_frontpage_story_5993625.utf8                 0.630234
6     7     1061025_nation_story_6912959.utf8                 0.617060
7     8     1051208_nation_story_5573643.utf8                 0.612975
8     9  1050422_frontpage_story_4646612.utf8                 0.610743
9    10     1050428_nation_story_4670543.utf8                 0.608912

query ID=  115

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1060909_frontpage_story_6722632.utf8                 0.825658
1     2    1051004_foreign_story_5317626.utf8                 0.778487
2     3  1060309_frontpage_story_5946418.utf8                 0.778296
3     4     1070523_nation_story_7817180.utf8                 0.771793
4     5     1061031_nation_story_6938517.utf8                 0.770334
5     6     1070519_nation_story_7799982.utf8                 0.770067
6     7     1060912_nation_story_6733159.utf8                 0.766464
7     8  1060910_frontpage_story_6726129.utf8                 0.758014
8     9  1060415_frontpage_story_6102582.utf8                 0.756127
9    10  1060310_frontpage_story_5950087.utf8                 0.755275

query ID=  116

   RANK                        DOCUMENT NAME  cosine similarity score
0     1    1060203_nation_story_5798365.utf8                 0.761459
1     2    1060218_nation_story_5862838.utf8                 0.741900
2     3    1060307_nation_story_5935593.utf8                 0.734036
3     4    1060221_nation_story_5873931.utf8                 0.732299
4     5    1060123_nation_story_5754114.utf8                 0.725558
5     6    1060121_nation_story_5748791.utf8                 0.722444
6     7    1060126_nation_story_5768230.utf8                 0.701110
7     8    1060110_nation_story_5702363.utf8                 0.693253
8     9    1040912_nation_story_3748237.utf8                 0.688700
9    10  1050510_calcutta_story_4716778.utf8                 0.686263

query ID=  117

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1060112_nation_story_5711093.utf8                 0.715084
1     2     1060104_nation_story_5679057.utf8                 0.685519
2     3  1070420_frontpage_story_7670889.utf8                 0.677016
3     4  1070115_frontpage_story_7263787.utf8                 0.653676
4     5  1070424_frontpage_story_7687092.utf8                 0.651162
5     6     1060417_nation_story_6106890.utf8                 0.650892
6     7   1070420_business_story_7671863.utf8                 0.645990
7     8   1060622_business_story_6385256.utf8                 0.630877
8     9     1051026_nation_story_5400146.utf8                 0.628757
9    10     1070514_nation_story_7774522.utf8                 0.624244

query ID=  118

   RANK                         DOCUMENT NAME  cosine similarity score
0     1    1051031_opinion_story_5417918.utf8                 0.697284
1     2  1060906_frontpage_story_6706107.utf8                 0.689210
2     3     1051101_nation_story_5424592.utf8                 0.676794
3     4     1050706_nation_story_4955838.utf8                 0.675192
4     5    1050728_opinion_story_5041468.utf8                 0.670521
5     6     1060909_nation_story_6721388.utf8                 0.668999
6     7    1050706_opinion_story_4952689.utf8                 0.665509
7     8     1060713_nation_story_6472153.utf8                 0.661520
8     9     1050706_nation_story_4955784.utf8                 0.659054
9    10   1060810_calcutta_story_6554869.utf8                 0.656934

query ID=  119

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1050609_nation_story_4843677.utf8                 0.804105
1     2  1050714_frontpage_story_4988276.utf8                 0.795868
2     3     1051206_nation_story_5564020.utf8                 0.786746
3     4     1050813_nation_story_5108420.utf8                 0.776769
4     5     1050715_nation_story_4992987.utf8                 0.763681
5     6     1050720_nation_story_5010221.utf8                 0.762214
6     7    1050715_opinion_story_4989948.utf8                 0.736035
7     8     1050714_nation_story_4988361.utf8                 0.709392
8     9    1050718_opinion_story_4994184.utf8                 0.698200
9    10     1050714_nation_story_4988359.utf8                 0.662437

query ID=  120

   RANK                      DOCUMENT NAME  cosine similarity score
0     1  1050210_nation_story_4359510.utf8                 0.712921
1     2  1050209_nation_story_4356065.utf8                 0.679453
2     3  1040912_nation_story_3748237.utf8                 0.651826
3     4  1050106_nation_story_4218937.utf8                 0.641567
4     5  1070515_nation_story_7779279.utf8                 0.628161
5     6  1050205_nation_story_4340470.utf8                 0.623406
6     7  1041117_nation_story_4013182.utf8                 0.620380
7     8  1041211_nation_story_4114560.utf8                 0.620279
8     9  1060429_nation_story_6159005.utf8                 0.617914
9    10  1041220_nation_story_4151152.utf8                 0.613323

query ID=  121

   RANK                         DOCUMENT NAME  cosine similarity score
0     1     1070317_bengal_story_7529473.utf8                 0.788977
1     2  1070128_frontpage_story_7316888.utf8                 0.763929
2     3     1051030_nation_story_5416663.utf8                 0.715543
3     4     1060112_nation_story_5711094.utf8                 0.713493
4     5   1041224_calcutta_story_4167135.utf8                 0.704903
5     6   1050923_calcutta_story_5273530.utf8                 0.698662
6     7   1050930_calcutta_story_5301776.utf8                 0.671833
7     8   1060926_calcutta_story_6793644.utf8                 0.652663
8     9   1050118_calcutta_story_4265502.utf8                 0.647670
9    10   1061127_calcutta_story_7054260.utf8                 0.645391

query ID=  122

   RANK                         DOCUMENT NAME  cosine similarity score
0     1  1070731_frontpage_story_8130571.utf8                 0.819027
1     2     1070119_nation_story_7282971.utf8                 0.816004
2     3     1061219_nation_story_7157321.utf8                 0.811013
3     4     1070801_nation_story_8132963.utf8                 0.807057
4     5     1060811_nation_story_6597006.utf8                 0.806053
5     6     1070620_nation_story_7947497.utf8                 0.803481
6     7     1061222_nation_story_7171528.utf8                 0.803324
7     8     1070517_nation_story_7789099.utf8                 0.800536
8     9     1070808_nation_story_8165265.utf8                 0.798699
9    10     1061205_nation_story_7094715.utf8                 0.794396

query ID=  123

   RANK                         DOCUMENT NAME  cosine similarity score
0     1    1041208_opinion_story_4086626.utf8                 0.743436
1     2    1041110_foreign_story_3987311.utf8                 0.740296
2     3    1041106_foreign_story_3972071.utf8                 0.729239
3     4    1041105_foreign_story_3968081.utf8                 0.716500
4     5  1041112_frontpage_story_3995357.utf8                 0.712618
5     6    1041108_foreign_story_3978518.utf8                 0.701325
6     7    1041112_foreign_story_3995445.utf8                 0.694690
7     8    1041123_foreign_story_4038063.utf8                 0.692819
8     9    1041129_foreign_story_4062221.utf8                 0.688494
9    10     1041112_nation_story_3995294.utf8                 0.678457

query ID=  124

   RANK                        DOCUMENT NAME  cosine similarity score
0     1    1060612_nation_story_6340993.utf8                 0.676356
1     2    1060612_nation_story_6340989.utf8                 0.624621
2     3  1060612_calcutta_story_6317909.utf8                 0.620229
3     4  1061208_calcutta_story_7108893.utf8                 0.597605
4     5  1050103_calcutta_story_4203336.utf8                 0.595733
5     6    1041124_nation_story_4041778.utf8                 0.592708
6     7    1050209_nation_story_4350796.utf8                 0.588892
7     8  1050704_calcutta_story_4945535.utf8                 0.588510
8     9    1050307_nation_story_4462654.utf8                 0.584637
9    10  1050915_calcutta_story_5237801.utf8                 0.582245

query ID=  125

   RANK                       DOCUMENT NAME  cosine similarity score
0     1  1070630_foreign_story_7995955.utf8                 0.839450
1     2  1070708_foreign_story_8030768.utf8                 0.832444
2     3  1070709_foreign_story_8034677.utf8                 0.828839
3     4  1070705_foreign_story_8019086.utf8                 0.828403
4     5  1070705_foreign_story_8019084.utf8                 0.824575
5     6  1070707_foreign_story_8027755.utf8                 0.822993
6     7  1070520_foreign_story_7803534.utf8                 0.814512
7     8  1070704_foreign_story_8012634.utf8                 0.814137
8     9  1070706_foreign_story_8023448.utf8                 0.811005
9    10  1070726_foreign_story_8108245.utf8                 0.802681

#**MAP Result**

In [ ]:
print("map with rochio + query expansion + word2vec = ",map)

map with rochio + query expansion + word2vec =  0.41199999999999987

#Final Results

USING TFIDF

1.   USING ROCCHIO, MAP = 0.4300
2.   ROCCHIO + EXPANSION , MAP = 0.4039 

USING WORD2VEC

1.   USING ROCCHIO, MAP = 0.52
2.   ROCCHIO + EXPANSION, MAP = 0.4119999